@charset "UTF-8";
.pagelayout-course .headerbkg {
  display: none;
}

.pagelayout-course div#learningcontent {
  margin-top: 0 !important;
}

/*Esconder elementos padrão do Moodle acima do menu */
#page-navbar > nav > ul,
#page-header > div > div > div > div > div.mr-auto,
#page-header > div > div > div > div.d-flex.flex-wrap,
h3.sectionname,
#completionprogressid {
  display: none;
}

.course-content ul.topics li.section,
.course-content ul.weeks li.section {
  padding-top: 0;
  padding-bottom: 0;
}

/* Esconder Borda Padrão do Moodle da área do conteúdo */
.course-content ul.topics li.section .content {
  border: 0;
}

/*Fundo área de navegação*/
#section-0 > div.content > div.summary {
  background-color: #ffffff;
  max-width: 1440px;
}

/* CONTEÚDO */
.container-fluid {
  margin: 0px;
  padding: 0px;
}

#seminario-de-educacao-legislativa {
  font-family: "Helvetica";
  color: #222221;
  background-color: #BFDA90;
}
#seminario-de-educacao-legislativa.container-fluid {
  position: relative;
  /* height: 1110px; */
  min-height: 544px;
  /* border: 1px solid red; */
  margin: 0 auto;
}
@media only screen and (min-width: 768px) {
  #seminario-de-educacao-legislativa.container-fluid {
    display: flex;
    align-items: stretch;
    width: unset;
  }
}
#seminario-de-educacao-legislativa #fundo-sombra {
  position: absolute;
  width: 100%;
  height: 100%;
  background: rgba(34, 34, 33, 0.5);
  display: none;
  z-index: 4;
}
@media only screen and (min-width: 768px) {
  #seminario-de-educacao-legislativa #fundo-sombra {
    display: none;
  }
}
#seminario-de-educacao-legislativa #coluna-lateral {
  position: absolute;
  width: 52px;
  height: 100%;
  left: 0;
  background: #9FBA6F;
  border-right: 1px solid #222221;
  z-index: 5;
}
@media only screen and (min-width: 768px) {
  #seminario-de-educacao-legislativa #coluna-lateral {
    position: relative;
    width: 183px;
    height: unset;
  }
}
@media only screen and (min-width: 1200px) {
  #seminario-de-educacao-legislativa #coluna-lateral {
    position: relative;
    width: 285px;
    height: unset;
  }
}
#seminario-de-educacao-legislativa #icone-menu {
  position: absolute;
  top: 56px;
  left: 16px;
  z-index: 6;
  width: 20px;
  height: 20px;
  transform: rotate(0deg);
  transition: 0.5s ease-in-out;
  cursor: pointer;
}
@media only screen and (min-width: 768px) {
  #seminario-de-educacao-legislativa #icone-menu {
    display: none;
  }
}
#seminario-de-educacao-legislativa #icone-menu span {
  display: block;
  position: absolute;
  height: 4px;
  width: 100%;
  background: #BFDA90;
  opacity: 1;
  left: 0;
  transform: rotate(0deg);
  transition: 0.25s ease-in-out;
}
#seminario-de-educacao-legislativa #icone-menu span:nth-child(1) {
  top: 0px;
}
#seminario-de-educacao-legislativa #icone-menu span:nth-child(2) {
  top: 8px;
}
#seminario-de-educacao-legislativa #icone-menu span:nth-child(3) {
  top: 16px;
}
#seminario-de-educacao-legislativa #icone-menu.aberto span:nth-child(1) {
  top: 3px;
  width: 16px;
  transform: rotate(-45deg);
}
#seminario-de-educacao-legislativa #icone-menu.aberto span:nth-child(2) {
  opacity: 0;
  left: 110px;
}
#seminario-de-educacao-legislativa #icone-menu.aberto span:nth-child(3) {
  top: 13px;
  width: 16px;
  transform: rotate(45deg);
}
#seminario-de-educacao-legislativa #botao-toggle-menu {
  position: absolute;
  width: 20px;
  height: 21px;
  top: 56px;
  left: 16px;
  z-index: 6;
}
#seminario-de-educacao-legislativa #menu-lateral {
  position: relative;
  width: 120px;
  height: 100%;
  box-sizing: border-box;
  margin: 0 auto 0 0;
  padding-top: 88px;
  text-align: center;
  opacity: 0;
  display: none;
}
@media only screen and (min-width: 768px) {
  #seminario-de-educacao-legislativa #menu-lateral {
    display: block;
    width: 128px;
    margin: 0 auto;
    padding-top: 56px;
    opacity: 1;
  }
}
@media only screen and (min-width: 1200px) {
  #seminario-de-educacao-legislativa #menu-lateral {
    width: 158px;
  }
}
#seminario-de-educacao-legislativa #menu-lateral .item-menu {
  font-weight: 700;
  font-size: 15px;
  line-height: 100%;
  text-align: center;
  padding-top: 24px;
  padding-bottom: 24px;
  cursor: pointer;
}
@media only screen and (min-width: 768px) {
  #seminario-de-educacao-legislativa #menu-lateral .item-menu {
    font-size: 16px;
    padding-top: 36px;
    padding-bottom: 36px;
  }
}
@media only screen and (min-width: 1200px) {
  #seminario-de-educacao-legislativa #menu-lateral .item-menu {
    font-size: 20px;
    padding-top: 40px;
    padding-bottom: 40px;
  }
}
#seminario-de-educacao-legislativa #menu-lateral .item-menu:first-child {
  padding-top: 0;
}
#seminario-de-educacao-legislativa #menu-lateral .item-menu.ativo {
  color: #BFDA90;
}
#seminario-de-educacao-legislativa #menu-lateral .item-menu-separador {
  width: 48px;
  margin: 0 auto;
  height: 1px;
  background-color: #222221;
}
@media only screen and (min-width: 768px) {
  #seminario-de-educacao-legislativa #menu-lateral .item-menu-separador {
    width: 72px;
  }
}
@media only screen and (min-width: 1200px) {
  #seminario-de-educacao-legislativa #menu-lateral .item-menu-separador {
    width: 88px;
  }
}
#seminario-de-educacao-legislativa .botao-cta {
  width: 106px;
  height: 26px;
  padding: 4px 6px 4px 8px;
  font-size: 18px;
  font-weight: 700;
  line-height: 100%;
  background: #FFFFFF;
  cursor: pointer;
}
@media only screen and (min-width: 576px) {
  #seminario-de-educacao-legislativa .botao-cta {
    width: 143px;
    height: 39px;
    padding: 8px 10px 8px 16px;
    font-size: 23px;
  }
}
@media only screen and (min-width: 1200px) {
  #seminario-de-educacao-legislativa .botao-cta {
    width: 163px;
    height: 43px;
    font-size: 27px;
  }
}
#seminario-de-educacao-legislativa #coluna-conteudo {
  position: relative;
  height: 100%;
  padding-top: 60px;
  padding-left: 92px;
}
@media only screen and (min-width: 576px) {
  #seminario-de-educacao-legislativa #coluna-conteudo {
    flex: 1;
  }
}
@media only screen and (min-width: 768px) {
  #seminario-de-educacao-legislativa #coluna-conteudo {
    padding-left: 106px;
  }
}
@media only screen and (min-width: 1200px) {
  #seminario-de-educacao-legislativa #coluna-conteudo {
    padding-left: 122px;
  }
}
#seminario-de-educacao-legislativa #coluna-conteudo[data-item-ativo=inicio] {
  background-image: url("../imagens/bg_conteudo.jpg");
  background-size: 546px;
  background-repeat: no-repeat;
  background-position: 96% -29px;
}
@media only screen and (min-width: 576px) {
  #seminario-de-educacao-legislativa #coluna-conteudo[data-item-ativo=inicio] {
    background-size: 715px;
    background-position: right -85px;
  }
}
@media only screen and (min-width: 768px) {
  #seminario-de-educacao-legislativa #coluna-conteudo[data-item-ativo=inicio] {
    background-size: 910px;
    background-position: right -200px;
  }
}
@media only screen and (min-width: 992px) {
  #seminario-de-educacao-legislativa #coluna-conteudo[data-item-ativo=inicio] {
    background-size: 100%;
    background-position: right center;
  }
}
#seminario-de-educacao-legislativa #coluna-conteudo[data-item-ativo=boas-vindas] {
  padding-top: 48px;
  background-image: url("../imagens/bg_conteudo.jpg");
  background-size: 600px;
  background-repeat: no-repeat;
  background-position: 50% 340px;
}
@media only screen and (min-width: 576px) {
  #seminario-de-educacao-legislativa #coluna-conteudo[data-item-ativo=boas-vindas] {
    background-size: 850px;
    background-position: 85% 340px;
  }
}
@media only screen and (min-width: 992px) {
  #seminario-de-educacao-legislativa #coluna-conteudo[data-item-ativo=boas-vindas] {
    background-size: 140%;
    background-position: 95% 355px;
  }
}
#seminario-de-educacao-legislativa #coluna-conteudo .item-conteudo {
  position: relative;
  display: none;
  /* border: 1px solid blue; */
}
#seminario-de-educacao-legislativa #coluna-conteudo .item-conteudo.ativo {
  display: block;
}
#seminario-de-educacao-legislativa #coluna-conteudo .item-conteudo .titulo {
  padding: 0 2px 2px 2px;
  margin-bottom: 48px;
  font-size: 21px;
  line-height: 23px;
  font-weight: 400;
  background-color: #BFDA90;
}
@media only screen and (min-width: 576px) {
  #seminario-de-educacao-legislativa #coluna-conteudo .item-conteudo .titulo {
    font-size: 24px;
    line-height: 26px;
  }
}
@media only screen and (min-width: 1200px) {
  #seminario-de-educacao-legislativa #coluna-conteudo .item-conteudo .titulo {
    font-size: 30px;
    line-height: 32px;
    margin-bottom: 64px;
  }
}
#seminario-de-educacao-legislativa #coluna-conteudo .item-conteudo .descricao {
  padding: 0 2px;
  background-color: #BFDA90;
  font-size: 15px;
  line-height: 18px;
}
#seminario-de-educacao-legislativa #coluna-conteudo .item-conteudo[data-item=inicio] {
  height: 582px;
}
@media only screen and (min-width: 576px) {
  #seminario-de-educacao-legislativa #coluna-conteudo .item-conteudo[data-item=inicio] {
    height: 740px;
  }
}
@media only screen and (min-width: 1200px) {
  #seminario-de-educacao-legislativa #coluna-conteudo .item-conteudo[data-item=inicio] {
    height: 800px;
  }
}
#seminario-de-educacao-legislativa #coluna-conteudo .item-conteudo[data-item=inicio] .titulo {
  width: 250px;
}
@media only screen and (min-width: 576px) {
  #seminario-de-educacao-legislativa #coluna-conteudo .item-conteudo[data-item=inicio] .titulo {
    width: 400px;
  }
}
@media only screen and (min-width: 768px) {
  #seminario-de-educacao-legislativa #coluna-conteudo .item-conteudo[data-item=inicio] .titulo {
    width: 500px;
  }
}
#seminario-de-educacao-legislativa #coluna-conteudo .item-conteudo[data-item=inicio] .titulo span {
  font-size: 36px;
  line-height: 38px;
  font-weight: 700;
}
@media only screen and (min-width: 576px) {
  #seminario-de-educacao-legislativa #coluna-conteudo .item-conteudo[data-item=inicio] .titulo span {
    font-size: 51px;
    line-height: 53px;
  }
}
@media only screen and (min-width: 1200px) {
  #seminario-de-educacao-legislativa #coluna-conteudo .item-conteudo[data-item=inicio] .titulo span {
    font-size: 63px;
    line-height: 65px;
  }
}
#seminario-de-educacao-legislativa #coluna-conteudo .item-conteudo[data-item=inicio] .descricao {
  width: 221px;
  margin-bottom: 32px;
}
@media only screen and (min-width: 576px) {
  #seminario-de-educacao-legislativa #coluna-conteudo .item-conteudo[data-item=inicio] .descricao {
    width: 340px;
    font-size: 20px;
    line-height: 22px;
    margin-bottom: 56px;
  }
}
@media only screen and (min-width: 1200px) {
  #seminario-de-educacao-legislativa #coluna-conteudo .item-conteudo[data-item=inicio] .descricao {
    width: 526px;
    font-size: 24px;
    line-height: 26px;
    margin-bottom: 68px;
  }
}
#seminario-de-educacao-legislativa #coluna-conteudo .item-conteudo[data-item=inicio] .descricao span:nth-of-type(1) {
  font-size: 21px;
  line-height: 25px;
  font-weight: 700;
  background: #9FBA6F;
  padding: 1px 4px;
  -webkit-box-decoration-break: clone;
  box-decoration-break: clone;
}
@media only screen and (min-width: 576px) {
  #seminario-de-educacao-legislativa #coluna-conteudo .item-conteudo[data-item=inicio] .descricao span:nth-of-type(1) {
    font-size: 24px;
    line-height: 28px;
  }
}
@media only screen and (min-width: 1200px) {
  #seminario-de-educacao-legislativa #coluna-conteudo .item-conteudo[data-item=inicio] .descricao span:nth-of-type(1) {
    font-size: 27px;
    line-height: 31px;
  }
}
#seminario-de-educacao-legislativa #coluna-conteudo .item-conteudo[data-item=inicio] .descricao span:nth-of-type(2) {
  display: block;
  padding-left: 4px;
  margin-bottom: 14px;
  font-weight: 700;
}
@media only screen and (min-width: 576px) {
  #seminario-de-educacao-legislativa #coluna-conteudo .item-conteudo[data-item=inicio] .descricao span:nth-of-type(2) {
    margin-top: 14px;
    margin-bottom: 20px;
  }
}
#seminario-de-educacao-legislativa #coluna-conteudo .item-conteudo[data-item=inicio] .descricao span:nth-of-type(n + 3) {
  display: block;
  padding: 0;
  margin: 8px 0 6px 6px;
}
@media only screen and (min-width: 576px) {
  #seminario-de-educacao-legislativa #coluna-conteudo .item-conteudo[data-item=inicio] .descricao span:nth-of-type(n + 3) {
    margin-bottom: 16px;
  }
}
@media only screen and (min-width: 576px) {
  #seminario-de-educacao-legislativa #coluna-conteudo .item-conteudo[data-item=inicio] .descricao span:nth-of-type(n + 3) {
    margin-bottom: 12px;
  }
}
#seminario-de-educacao-legislativa #coluna-conteudo .item-conteudo[data-item=inicio] .descricao span:nth-of-type(n + 3)::before {
  content: "»";
  padding-right: 4px;
  font-size: 12px;
  font-weight: 700;
  vertical-align: text-top;
}
@media only screen and (min-width: 576px) {
  #seminario-de-educacao-legislativa #coluna-conteudo .item-conteudo[data-item=inicio] .descricao span:nth-of-type(n + 3)::before {
    font-size: 18px;
  }
}
#seminario-de-educacao-legislativa #coluna-conteudo .item-conteudo[data-item=inicio] .botao-cta {
  margin-left: 8px;
}
#seminario-de-educacao-legislativa #coluna-conteudo .item-conteudo[data-item=boas-vindas] {
  height: 574px;
}
@media only screen and (min-width: 576px) {
  #seminario-de-educacao-legislativa #coluna-conteudo .item-conteudo[data-item=boas-vindas] {
    height: 660px;
  }
}
@media only screen and (min-width: 1200px) {
  #seminario-de-educacao-legislativa #coluna-conteudo .item-conteudo[data-item=boas-vindas] {
    height: 890px;
  }
}
#seminario-de-educacao-legislativa #coluna-conteudo .item-conteudo[data-item=boas-vindas] .titulo {
  font-weight: 700;
  font-size: 42px;
  line-height: 100%;
  letter-spacing: -0.015em;
  color: #9FBA6F;
  margin-bottom: 24px;
}
@media only screen and (min-width: 576px) {
  #seminario-de-educacao-legislativa #coluna-conteudo .item-conteudo[data-item=boas-vindas] .titulo {
    font-size: 70px;
    letter-spacing: -0.02em;
    margin-bottom: 34px;
  }
}
@media only screen and (min-width: 1200px) {
  #seminario-de-educacao-legislativa #coluna-conteudo .item-conteudo[data-item=boas-vindas] .titulo {
    font-size: 80px;
    letter-spacing: normal;
  }
}
#seminario-de-educacao-legislativa #coluna-conteudo .item-conteudo[data-item=boas-vindas] .descricao {
  width: 240px;
  margin-bottom: 32px;
}
@media only screen and (min-width: 576px) {
  #seminario-de-educacao-legislativa #coluna-conteudo .item-conteudo[data-item=boas-vindas] .descricao {
    width: 392px;
    font-size: 16px;
    line-height: 18px;
    margin-bottom: 44px;
  }
  #seminario-de-educacao-legislativa #coluna-conteudo .item-conteudo[data-item=boas-vindas] .descricao p {
    margin-bottom: 1.6rem;
  }
}
@media only screen and (min-width: 1200px) {
  #seminario-de-educacao-legislativa #coluna-conteudo .item-conteudo[data-item=boas-vindas] .descricao {
    width: 580px;
    font-size: 20px;
    line-height: 22px;
  }
}
#seminario-de-educacao-legislativa #coluna-conteudo .item-conteudo[data-item=boas-vindas] .botao-cta {
  margin-top: 32px;
  margin-left: 68px;
}
@media only screen and (min-width: 576px) {
  #seminario-de-educacao-legislativa #coluna-conteudo .item-conteudo[data-item=boas-vindas] .botao-cta {
    margin-top: 40px;
    margin-left: 126.5px;
  }
}
@media only screen and (min-width: 1200px) {
  #seminario-de-educacao-legislativa #coluna-conteudo .item-conteudo[data-item=boas-vindas] .botao-cta {
    margin-top: 56px;
    margin-left: 261px;
  }
}
#seminario-de-educacao-legislativa #coluna-conteudo .logos {
  position: relative;
  width: 100%;
  height: 444px;
  margin-left: -50px;
  box-sizing: content-box;
  display: none;
  padding-top: 40px;
  padding-left: 50px;
  background: #ffffff;
}
@media only screen and (min-width: 576px) {
  #seminario-de-educacao-legislativa #coluna-conteudo .logos {
    height: auto;
    padding-top: 16px;
    padding-bottom: 16px;
  }
}
@media only screen and (min-width: 768px) {
  #seminario-de-educacao-legislativa #coluna-conteudo .logos {
    margin-left: -106px;
    padding-left: 106px;
  }
}
@media only screen and (min-width: 1200px) {
  #seminario-de-educacao-legislativa #coluna-conteudo .logos {
    margin-left: -122px;
    padding-left: 122px;
    height: 91px;
    padding-bottom: 0;
  }
}
#seminario-de-educacao-legislativa #coluna-conteudo .logos.ativo {
  display: block;
}
@media only screen and (min-width: 576px) {
  #seminario-de-educacao-legislativa #coluna-conteudo .logos .container-logos {
    display: flex;
    width: 290px;
    flex-flow: row wrap;
  }
}
@media only screen and (min-width: 1200px) {
  #seminario-de-educacao-legislativa #coluna-conteudo .logos .container-logos {
    width: 680px;
    justify-content: space-between;
  }
}
#seminario-de-educacao-legislativa #coluna-conteudo .logos .container-logos .realizacao,
#seminario-de-educacao-legislativa #coluna-conteudo .logos .container-logos .apoio {
  margin-top: 40px;
}
@media only screen and (min-width: 576px) {
  #seminario-de-educacao-legislativa #coluna-conteudo .logos .container-logos .realizacao,
#seminario-de-educacao-legislativa #coluna-conteudo .logos .container-logos .apoio {
    margin-top: 0;
    text-align: center;
  }
}
#seminario-de-educacao-legislativa #coluna-conteudo .logos .container-logos .realizacao h2,
#seminario-de-educacao-legislativa #coluna-conteudo .logos .container-logos .apoio h2 {
  font-size: 12px;
  margin-bottom: 16px;
}
@media only screen and (min-width: 576px) {
  #seminario-de-educacao-legislativa #coluna-conteudo .logos .container-logos .realizacao {
    width: 123px;
  }
}
@media only screen and (min-width: 576px) {
  #seminario-de-educacao-legislativa #coluna-conteudo .logos .container-logos .apoio {
    width: 235px;
  }
}
@media only screen and (min-width: 1200px) {
  #seminario-de-educacao-legislativa #coluna-conteudo .logos .container-logos .apoio {
    width: 272px;
  }
}
#seminario-de-educacao-legislativa #coluna-conteudo .logos .container-logos .educacao-legislativa-30-anos {
  background-image: url("../imagens/logos/educacao_legislativa_30_anos.jpg");
  background-repeat: no-repeat;
  width: 156px;
  height: 87px;
}
@media only screen and (min-width: 576px) {
  #seminario-de-educacao-legislativa #coluna-conteudo .logos .container-logos .educacao-legislativa-30-anos {
    width: 118px;
    height: 67px;
    background-size: 118px;
    margin-top: 8px;
    margin-right: 48px;
    margin-bottom: 28px;
  }
}
@media only screen and (min-width: 1200px) {
  #seminario-de-educacao-legislativa #coluna-conteudo .logos .container-logos .educacao-legislativa-30-anos {
    width: 128px;
    height: 72px;
    background-size: 128px;
    margin-right: 0;
    margin-bottom: 0;
  }
}
#seminario-de-educacao-legislativa #coluna-conteudo .logos .container-logos .camara-dos-deputados {
  background-image: url("../imagens/logos/camara_dos_deputados.jpg");
  background-repeat: no-repeat;
  width: 157px;
  height: 42px;
}
@media only screen and (min-width: 576px) {
  #seminario-de-educacao-legislativa #coluna-conteudo .logos .container-logos .camara-dos-deputados {
    width: 123px;
    background-size: 123px;
  }
}
@media only screen and (min-width: 1200px) {
  #seminario-de-educacao-legislativa #coluna-conteudo .logos .container-logos .camara-dos-deputados {
    width: 123px;
    background-size: 123px;
  }
}
#seminario-de-educacao-legislativa #coluna-conteudo .logos .container-logos .abel {
  background-image: url("../imagens/logos/abel.jpg");
  background-repeat: no-repeat;
  width: 156px;
  height: 69px;
  margin-bottom: 24px;
}
@media only screen and (min-width: 576px) {
  #seminario-de-educacao-legislativa #coluna-conteudo .logos .container-logos .abel {
    display: inline-block;
    width: 90px;
    height: 45px;
    background-size: 90px;
    margin-bottom: 0;
    margin-right: 20px;
  }
}
@media only screen and (min-width: 1200px) {
  #seminario-de-educacao-legislativa #coluna-conteudo .logos .container-logos .abel {
    width: 98px;
    height: 50px;
    background-size: 98px;
    margin-right: 50px;
  }
}
#seminario-de-educacao-legislativa #coluna-conteudo .logos .container-logos .senado-federal {
  background-image: url("../imagens/logos/senado_federal.jpg");
  background-repeat: no-repeat;
  width: 156px;
  height: 45px;
}
@media only screen and (min-width: 576px) {
  #seminario-de-educacao-legislativa #coluna-conteudo .logos .container-logos .senado-federal {
    display: inline-block;
    width: 119px;
    height: 43px;
    background-size: 119px;
  }
}