@charset "UTF-8";
/*
tipo:
 1 = 2 bolas vazias
 2 = 1 bola vazia outra cheia
 3 = 2 bolas cheias
 */
/* INÍCIO - Layout moodle */
.pagelayout-course .headerbkg {
  display: none;
}

.pagelayout-course div#learningcontent {
  margin-top: 0 !important;
}

div#page-content,
#region-main-box,
#region-main {
  padding: 0;
}

#region-main {
  overflow-x: visible;
}

/* Esconder elementos padrão do Moodle acima do menu */
#page-navbar > nav > ul,
#page-header > div > div > div > div > div.mr-auto,
#page-header > div > div > div > div.d-flex.flex-wrap,
h3.sectionname,
#completionprogressid {
  display: none;
}

.course-content ul.topics li.section,
.course-content ul.weeks li.section {
  padding-top: 0;
  padding-bottom: 0;
}

/* Esconder Borda Padrão do Moodle da área do conteúdo */
.course-content ul.topics li.section .content {
  border: 0;
}

/* Fundo área de navegação */
#section-0 > div.content > div.summary {
  background-color: #ffffff;
  padding: 0;
}

.editing .course-content ul.topics li.section .left, .editing .course-content ul.topics li.section .right {
  padding: 0;
}

/* FIM - Layout moodle */
#seminario-de-educacao-legislativa {
  font-family: "Helvetica";
  color: #222221;
  background-color: #BFDA90;
}
#seminario-de-educacao-legislativa.container-fluid {
  position: relative;
  /* height: 1110px; */
  min-height: 544px;
  /* border: 1px solid red; */
  margin: 0 auto;
  padding: 0px;
}
@media only screen and (min-width: 768px) {
  #seminario-de-educacao-legislativa.container-fluid {
    display: flex;
    align-items: stretch;
    width: unset;
  }
}
#seminario-de-educacao-legislativa #fundo-sombra {
  position: absolute;
  width: 100%;
  height: 100%;
  background: rgba(34, 34, 33, 0.5);
  display: none;
  z-index: 4;
}
@media only screen and (min-width: 768px) {
  #seminario-de-educacao-legislativa #fundo-sombra {
    display: none;
  }
}
#seminario-de-educacao-legislativa #coluna-lateral {
  position: absolute;
  width: 52px;
  height: 100%;
  left: 0;
  background: #9FBA6F;
  border-right: 1px solid #222221;
  z-index: 5;
}
@media only screen and (min-width: 768px) {
  #seminario-de-educacao-legislativa #coluna-lateral {
    position: relative;
    width: 183px;
    height: unset;
  }
}
@media only screen and (min-width: 1200px) {
  #seminario-de-educacao-legislativa #coluna-lateral {
    width: 285px;
    border-right-width: 2px;
  }
}
#seminario-de-educacao-legislativa #icone-menu {
  position: absolute;
  top: 56px;
  left: 16px;
  z-index: 6;
  width: 20px;
  height: 20px;
  transform: rotate(0deg);
  transition: 0.5s ease-in-out;
  cursor: pointer;
}
@media only screen and (min-width: 768px) {
  #seminario-de-educacao-legislativa #icone-menu {
    display: none;
  }
}
#seminario-de-educacao-legislativa #icone-menu span {
  display: block;
  position: absolute;
  height: 4px;
  width: 100%;
  background: #BFDA90;
  opacity: 1;
  left: 0;
  transform: rotate(0deg);
  transition: 0.25s ease-in-out;
}
#seminario-de-educacao-legislativa #icone-menu span:nth-child(1) {
  top: 0px;
}
#seminario-de-educacao-legislativa #icone-menu span:nth-child(2) {
  top: 8px;
}
#seminario-de-educacao-legislativa #icone-menu span:nth-child(3) {
  top: 16px;
}
#seminario-de-educacao-legislativa #icone-menu.aberto span:nth-child(1) {
  top: 3px;
  width: 16px;
  transform: rotate(-45deg);
}
#seminario-de-educacao-legislativa #icone-menu.aberto span:nth-child(2) {
  opacity: 0;
  left: 110px;
}
#seminario-de-educacao-legislativa #icone-menu.aberto span:nth-child(3) {
  top: 13px;
  width: 16px;
  transform: rotate(45deg);
}
#seminario-de-educacao-legislativa #botao-toggle-menu {
  position: absolute;
  width: 20px;
  height: 21px;
  top: 56px;
  left: 16px;
  z-index: 6;
}
#seminario-de-educacao-legislativa #menu-lateral {
  position: relative;
  width: 120px;
  height: 100%;
  box-sizing: border-box;
  margin: 0 auto 0 0;
  padding-top: 88px;
  text-align: center;
  opacity: 0;
  display: none;
}
@media only screen and (min-width: 768px) {
  #seminario-de-educacao-legislativa #menu-lateral {
    display: block;
    width: 128px;
    margin: 0 auto;
    padding-top: 56px;
    opacity: 1;
  }
}
@media only screen and (min-width: 1200px) {
  #seminario-de-educacao-legislativa #menu-lateral {
    width: 158px;
  }
}
#seminario-de-educacao-legislativa #menu-lateral .item-menu {
  font-weight: 700;
  font-size: 15px;
  line-height: 100%;
  text-align: center;
  padding-top: 24px;
  padding-bottom: 24px;
  cursor: pointer;
}
@media only screen and (min-width: 768px) {
  #seminario-de-educacao-legislativa #menu-lateral .item-menu {
    font-size: 16px;
    padding-top: 36px;
    padding-bottom: 36px;
  }
}
@media only screen and (min-width: 1200px) {
  #seminario-de-educacao-legislativa #menu-lateral .item-menu {
    font-size: 20px;
    padding-top: 40px;
    padding-bottom: 40px;
  }
}
#seminario-de-educacao-legislativa #menu-lateral .item-menu:first-child {
  padding-top: 0;
}
#seminario-de-educacao-legislativa #menu-lateral .item-menu:hover {
  color: #BFDA90;
}
#seminario-de-educacao-legislativa #menu-lateral .item-menu.ativo {
  color: #BFDA90;
}
#seminario-de-educacao-legislativa #menu-lateral .item-menu[data-link]:not([data-link=""])::after {
  content: "";
  display: inline-block;
  width: 18px;
  height: 18px;
  margin-left: 4px;
  vertical-align: bottom;
  background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' class='h-6 w-6' fill='none' viewBox='0 0 24 24' stroke='%23222221' stroke-width='2'%3E%3Cpath stroke-linecap='round' stroke-linejoin='round' d='M13.828 10.172a4 4 0 00-5.656 0l-4 4a4 4 0 105.656 5.656l1.102-1.101m-.758-4.899a4 4 0 005.656 0l4-4a4 4 0 00-5.656-5.656l-1.1 1.1' /%3E%3C/svg%3E");
  background-repeat: no-repeat;
}
#seminario-de-educacao-legislativa #menu-lateral .item-menu[data-link]:not([data-link=""]):hover::after {
  background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' class='h-6 w-6' fill='none' viewBox='0 0 24 24' stroke='%23BFDA90' stroke-width='2'%3E%3Cpath stroke-linecap='round' stroke-linejoin='round' d='M13.828 10.172a4 4 0 00-5.656 0l-4 4a4 4 0 105.656 5.656l1.102-1.101m-.758-4.899a4 4 0 005.656 0l4-4a4 4 0 00-5.656-5.656l-1.1 1.1' /%3E%3C/svg%3E");
  background-repeat: no-repeat;
}
#seminario-de-educacao-legislativa #menu-lateral .item-menu-separador {
  width: 48px;
  margin: 0 auto;
  height: 1px;
  background-color: #222221;
}
@media only screen and (min-width: 768px) {
  #seminario-de-educacao-legislativa #menu-lateral .item-menu-separador {
    width: 72px;
  }
}
@media only screen and (min-width: 1200px) {
  #seminario-de-educacao-legislativa #menu-lateral .item-menu-separador {
    width: 88px;
    height: 2px;
  }
}
#seminario-de-educacao-legislativa .botao-cta {
  display: none;
  width: -webkit-fit-content;
  width: -moz-fit-content;
  width: fit-content;
  height: 26px;
  padding: 4px 6px 4px 8px;
  font-size: 18px;
  font-weight: 700;
  line-height: 100%;
  background: #FFFFFF;
  cursor: pointer;
}
@media only screen and (min-width: 576px) {
  #seminario-de-educacao-legislativa .botao-cta {
    height: 39px;
    padding: 8px 10px 8px 16px;
    font-size: 23px;
  }
}
@media only screen and (min-width: 1200px) {
  #seminario-de-educacao-legislativa .botao-cta {
    height: 43px;
    font-size: 27px;
  }
}
#seminario-de-educacao-legislativa .quebra-linha-bg {
  padding: 1px;
  font-weight: 700;
  font-size: 15px;
  line-height: 20px;
  background-color: #9FBA6F;
  -webkit-box-decoration-break: clone;
  box-decoration-break: clone;
}
@media only screen and (min-width: 576px) {
  #seminario-de-educacao-legislativa .quebra-linha-bg {
    font-size: 16px;
    line-height: 22px;
  }
}
@media only screen and (min-width: 1200px) {
  #seminario-de-educacao-legislativa .quebra-linha-bg {
    font-size: 20px;
    line-height: 27px;
  }
}
#seminario-de-educacao-legislativa .link-dentro-texto {
  color: #FFFFFF;
  font-weight: 700;
  background-color: #9FBA6F;
  padding: 0 2px;
  cursor: pointer;
  -webkit-box-decoration-break: clone;
  box-decoration-break: clone;
}
#seminario-de-educacao-legislativa #coluna-conteudo {
  position: relative;
  height: 100%;
  min-height: 544px;
  padding-top: 48px;
  padding-left: 92px;
  padding-bottom: 48px;
}
@media only screen and (min-width: 576px) {
  #seminario-de-educacao-legislativa #coluna-conteudo {
    flex: 1;
  }
}
@media only screen and (min-width: 768px) {
  #seminario-de-educacao-legislativa #coluna-conteudo {
    padding-left: 106px;
  }
}
@media only screen and (min-width: 1200px) {
  #seminario-de-educacao-legislativa #coluna-conteudo {
    padding-left: 172px;
  }
}
#seminario-de-educacao-legislativa #coluna-conteudo[data-item-ativo=inicio] {
  padding-bottom: 0;
  background-image: url("../imagens/bg_conteudo.jpg");
  background-size: 546px;
  background-repeat: no-repeat;
  background-position: 96% -29px;
}
@media only screen and (min-width: 576px) {
  #seminario-de-educacao-legislativa #coluna-conteudo[data-item-ativo=inicio] {
    background-size: 715px;
    background-position: right -85px;
  }
}
@media only screen and (min-width: 768px) {
  #seminario-de-educacao-legislativa #coluna-conteudo[data-item-ativo=inicio] {
    background-size: 910px;
    background-position: right -200px;
  }
}
#seminario-de-educacao-legislativa #coluna-conteudo[data-item-ativo=boas-vindas] {
  background-image: url("../imagens/bg_conteudo.jpg");
  background-size: 600px;
  background-repeat: no-repeat;
  background-position: 50% 340px;
}
@media only screen and (min-width: 576px) {
  #seminario-de-educacao-legislativa #coluna-conteudo[data-item-ativo=boas-vindas] {
    background-size: 850px;
    background-position: 85% 340px;
  }
}
@media only screen and (min-width: 992px) {
  #seminario-de-educacao-legislativa #coluna-conteudo[data-item-ativo=boas-vindas] {
    background-position: 95% 330px;
  }
}
#seminario-de-educacao-legislativa #coluna-conteudo[data-item-ativo=acesse-o-evento] {
  padding-right: 16px;
}
@media only screen and (min-width: 576px) {
  #seminario-de-educacao-legislativa #coluna-conteudo[data-item-ativo=acesse-o-evento] {
    padding-right: 36px;
  }
}
@media only screen and (min-width: 992px) {
  #seminario-de-educacao-legislativa #coluna-conteudo[data-item-ativo=acesse-o-evento] {
    padding-right: 48px;
  }
}
#seminario-de-educacao-legislativa #coluna-conteudo[data-item-ativo=certificado] {
  padding-right: 16px;
}
@media only screen and (min-width: 576px) {
  #seminario-de-educacao-legislativa #coluna-conteudo[data-item-ativo=certificado] {
    padding-right: 36px;
  }
}
@media only screen and (min-width: 992px) {
  #seminario-de-educacao-legislativa #coluna-conteudo[data-item-ativo=certificado] {
    padding-right: 48px;
  }
}
#seminario-de-educacao-legislativa #coluna-conteudo[data-item-ativo=gravacoes] {
  padding-right: 16px;
  background-image: url("../imagens/bg_conteudo.jpg");
  background-size: 600px;
  background-repeat: no-repeat;
  background-position: 50% 400px;
}
@media only screen and (min-width: 576px) {
  #seminario-de-educacao-legislativa #coluna-conteudo[data-item-ativo=gravacoes] {
    padding-right: 36px;
    background-size: 850px;
    background-position: 85% 350px;
  }
}
@media only screen and (min-width: 992px) {
  #seminario-de-educacao-legislativa #coluna-conteudo[data-item-ativo=gravacoes] {
    padding-right: 48px;
    background-size: 1150px;
    background-position: 95% 340px;
  }
}
#seminario-de-educacao-legislativa #coluna-conteudo .item-conteudo {
  position: relative;
  display: none;
}
#seminario-de-educacao-legislativa #coluna-conteudo .item-conteudo.ativo {
  display: block;
}
#seminario-de-educacao-legislativa #coluna-conteudo .item-conteudo .titulo {
  font-weight: 700;
  font-size: 42px;
  line-height: 100%;
  letter-spacing: -0.015em;
  color: #9FBA6F;
  margin-bottom: 24px;
}
@media only screen and (min-width: 576px) {
  #seminario-de-educacao-legislativa #coluna-conteudo .item-conteudo .titulo {
    font-size: 70px;
    letter-spacing: -0.02em;
    margin-bottom: 34px;
  }
}
@media only screen and (min-width: 992px) {
  #seminario-de-educacao-legislativa #coluna-conteudo .item-conteudo .titulo {
    font-size: 80px;
    letter-spacing: normal;
  }
}
#seminario-de-educacao-legislativa #coluna-conteudo .item-conteudo .descricao {
  padding: 0 2px;
  background-color: #BFDA90;
  font-size: 15px;
  line-height: 18px;
}
@media only screen and (min-width: 576px) {
  #seminario-de-educacao-legislativa #coluna-conteudo .item-conteudo .descricao {
    font-size: 16px;
    line-height: 19px;
  }
}
@media only screen and (min-width: 992px) {
  #seminario-de-educacao-legislativa #coluna-conteudo .item-conteudo .descricao {
    font-size: 20px;
    line-height: 23px;
  }
}
#seminario-de-educacao-legislativa #coluna-conteudo .item-conteudo[data-item=inicio] .titulo-principal {
  width: 250px;
  padding: 0 2px 2px 2px;
  margin-bottom: 32px;
  font-size: 21px;
  line-height: 23px;
  font-weight: 400;
  background-color: #BFDA90;
}
@media only screen and (min-width: 576px) {
  #seminario-de-educacao-legislativa #coluna-conteudo .item-conteudo[data-item=inicio] .titulo-principal {
    width: 400px;
    font-size: 24px;
    line-height: 26px;
    margin-bottom: 46px;
  }
}
@media only screen and (min-width: 1200px) {
  #seminario-de-educacao-legislativa #coluna-conteudo .item-conteudo[data-item=inicio] .titulo-principal {
    width: 500px;
    font-size: 30px;
    line-height: 32px;
    margin-bottom: 64px;
  }
}
#seminario-de-educacao-legislativa #coluna-conteudo .item-conteudo[data-item=inicio] .titulo-principal span {
  font-size: 36px;
  line-height: 38px;
  font-weight: 700;
}
@media only screen and (min-width: 576px) {
  #seminario-de-educacao-legislativa #coluna-conteudo .item-conteudo[data-item=inicio] .titulo-principal span {
    font-size: 51px;
    line-height: 53px;
  }
}
@media only screen and (min-width: 1200px) {
  #seminario-de-educacao-legislativa #coluna-conteudo .item-conteudo[data-item=inicio] .titulo-principal span {
    font-size: 63px;
    line-height: 65px;
  }
}
#seminario-de-educacao-legislativa #coluna-conteudo .item-conteudo[data-item=inicio] .informacoes {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  gap: 12px;
  margin-bottom: 32px;
}
@media only screen and (min-width: 576px) {
  #seminario-de-educacao-legislativa #coluna-conteudo .item-conteudo[data-item=inicio] .informacoes {
    gap: 18px;
    margin-bottom: 38px;
  }
}
@media only screen and (min-width: 1200px) {
  #seminario-de-educacao-legislativa #coluna-conteudo .item-conteudo[data-item=inicio] .informacoes {
    gap: 24px;
    margin-bottom: 48px;
  }
}
#seminario-de-educacao-legislativa #coluna-conteudo .item-conteudo[data-item=inicio] .informacoes div {
  height: 26px;
  font-size: 15px;
  font-weight: 700;
  background-color: #BFDA90;
  background-size: 10px;
  background-repeat: no-repeat;
  background-position-x: 6px;
  background-position-y: center;
  padding: 1px 8px 0 20px;
  border: 1px solid #222221;
}
@media only screen and (min-width: 576px) {
  #seminario-de-educacao-legislativa #coluna-conteudo .item-conteudo[data-item=inicio] .informacoes div {
    height: 30px;
    font-size: 18px;
    background-size: 16px;
    background-position-x: 11px;
    padding: 1px 10px 0 34px;
  }
}
@media only screen and (min-width: 1200px) {
  #seminario-de-educacao-legislativa #coluna-conteudo .item-conteudo[data-item=inicio] .informacoes div {
    height: 42px;
    font-size: 24px;
    background-size: 21px;
    background-position-x: 17px;
    padding: 3px 16px 0 46px;
  }
}
#seminario-de-educacao-legislativa #coluna-conteudo .item-conteudo[data-item=inicio] .informacoes div:nth-of-type(1) {
  height: 28px;
  font-size: 17px;
  background-color: #9FBA6F;
  background-image: url("../imagens/icones/icone-calendario.png");
}
@media only screen and (min-width: 576px) {
  #seminario-de-educacao-legislativa #coluna-conteudo .item-conteudo[data-item=inicio] .informacoes div:nth-of-type(1) {
    height: 34px;
    font-size: 21px;
  }
}
@media only screen and (min-width: 1200px) {
  #seminario-de-educacao-legislativa #coluna-conteudo .item-conteudo[data-item=inicio] .informacoes div:nth-of-type(1) {
    height: 47px;
    font-size: 27px;
  }
}
#seminario-de-educacao-legislativa #coluna-conteudo .item-conteudo[data-item=inicio] .informacoes div:nth-of-type(2) {
  background-image: url("../imagens/icones/icone-relogio.png");
}
#seminario-de-educacao-legislativa #coluna-conteudo .item-conteudo[data-item=inicio] .informacoes div:nth-of-type(3) {
  background-image: url("../imagens/icones/icone-estrela.png");
}
#seminario-de-educacao-legislativa #coluna-conteudo .item-conteudo[data-item=inicio] .informacoes div:nth-of-type(4) {
  background-image: url("../imagens/icones/icone-camera.png");
}
#seminario-de-educacao-legislativa #coluna-conteudo .item-conteudo[data-item=inicio] .descricao {
  width: 225px;
  margin-left: 6px;
  margin-bottom: 32px;
}
@media only screen and (min-width: 576px) {
  #seminario-de-educacao-legislativa #coluna-conteudo .item-conteudo[data-item=inicio] .descricao {
    width: 340px;
    font-size: 18px;
    line-height: 22px;
    margin-left: 15px;
    margin-bottom: 56px;
  }
}
@media only screen and (min-width: 1200px) {
  #seminario-de-educacao-legislativa #coluna-conteudo .item-conteudo[data-item=inicio] .descricao {
    width: 488px;
    font-size: 24px;
    line-height: 28px;
    margin-bottom: 68px;
  }
}
#seminario-de-educacao-legislativa #coluna-conteudo .item-conteudo[data-item=inicio] .descricao p {
  font-weight: 700;
}
#seminario-de-educacao-legislativa #coluna-conteudo .item-conteudo[data-item=inicio] .descricao p:nth-of-type(3) {
  margin-bottom: 0.7rem;
}
#seminario-de-educacao-legislativa #coluna-conteudo .item-conteudo[data-item=inicio] .descricao ol {
  line-height: 22px;
}
@media only screen and (min-width: 576px) {
  #seminario-de-educacao-legislativa #coluna-conteudo .item-conteudo[data-item=inicio] .descricao ol {
    line-height: 28px;
  }
}
@media only screen and (min-width: 1200px) {
  #seminario-de-educacao-legislativa #coluna-conteudo .item-conteudo[data-item=inicio] .descricao ol {
    line-height: 38px;
  }
}
#seminario-de-educacao-legislativa #coluna-conteudo .item-conteudo[data-item=inicio] .botao-cta {
  margin-left: 8px;
}
#seminario-de-educacao-legislativa #coluna-conteudo .item-conteudo[data-item=boas-vindas] .descricao {
  width: 240px;
  margin-bottom: 32px;
}
@media only screen and (min-width: 576px) {
  #seminario-de-educacao-legislativa #coluna-conteudo .item-conteudo[data-item=boas-vindas] .descricao {
    width: 392px;
    font-size: 16px;
    line-height: 18px;
    margin-bottom: 44px;
  }
  #seminario-de-educacao-legislativa #coluna-conteudo .item-conteudo[data-item=boas-vindas] .descricao p {
    margin-bottom: 1.6rem;
  }
}
@media only screen and (min-width: 1200px) {
  #seminario-de-educacao-legislativa #coluna-conteudo .item-conteudo[data-item=boas-vindas] .descricao {
    width: 580px;
    font-size: 20px;
    line-height: 22px;
  }
}
#seminario-de-educacao-legislativa #coluna-conteudo .item-conteudo[data-item=boas-vindas] .botao-cta {
  margin-top: 32px;
  margin-left: 68px;
}
@media only screen and (min-width: 576px) {
  #seminario-de-educacao-legislativa #coluna-conteudo .item-conteudo[data-item=boas-vindas] .botao-cta {
    margin-top: 40px;
    margin-left: 126.5px;
  }
}
@media only screen and (min-width: 1200px) {
  #seminario-de-educacao-legislativa #coluna-conteudo .item-conteudo[data-item=boas-vindas] .botao-cta {
    margin-top: 56px;
    margin-left: 261px;
  }
}
#seminario-de-educacao-legislativa #coluna-conteudo .item-conteudo[data-item=sobre-o-evento] img {
  width: 242px;
  margin-bottom: 32px;
}
@media only screen and (min-width: 576px) {
  #seminario-de-educacao-legislativa #coluna-conteudo .item-conteudo[data-item=sobre-o-evento] img {
    width: 396px;
    margin-bottom: 40px;
  }
}
@media only screen and (min-width: 1200px) {
  #seminario-de-educacao-legislativa #coluna-conteudo .item-conteudo[data-item=sobre-o-evento] img {
    width: 685px;
    margin-bottom: 48px;
  }
}
#seminario-de-educacao-legislativa #coluna-conteudo .item-conteudo[data-item=sobre-o-evento] .descricao {
  width: 242px;
}
@media only screen and (min-width: 576px) {
  #seminario-de-educacao-legislativa #coluna-conteudo .item-conteudo[data-item=sobre-o-evento] .descricao {
    width: 396px;
  }
}
@media only screen and (min-width: 1200px) {
  #seminario-de-educacao-legislativa #coluna-conteudo .item-conteudo[data-item=sobre-o-evento] .descricao {
    width: 685px;
  }
}
#seminario-de-educacao-legislativa #coluna-conteudo .item-conteudo[data-item=acesse-o-evento] .descricao {
  margin-bottom: 32px;
}
@media only screen and (min-width: 992px) {
  #seminario-de-educacao-legislativa #coluna-conteudo .item-conteudo[data-item=acesse-o-evento] .descricao {
    margin-bottom: 32px;
  }
}
#seminario-de-educacao-legislativa #coluna-conteudo .item-conteudo[data-item=acesse-o-evento] .eventos {
  margin-right: 16px;
}
@media only screen and (min-width: 576px) {
  #seminario-de-educacao-legislativa #coluna-conteudo .item-conteudo[data-item=acesse-o-evento] .eventos {
    margin-right: 36px;
  }
}
#seminario-de-educacao-legislativa #coluna-conteudo .item-conteudo[data-item=acesse-o-evento] .eventos .mes {
  font-size: 32px;
  font-weight: 700;
}
@media only screen and (min-width: 576px) {
  #seminario-de-educacao-legislativa #coluna-conteudo .item-conteudo[data-item=acesse-o-evento] .eventos .mes {
    font-size: 55px;
    margin-bottom: 1rem;
  }
}
@media only screen and (min-width: 992px) {
  #seminario-de-educacao-legislativa #coluna-conteudo .item-conteudo[data-item=acesse-o-evento] .eventos .mes {
    font-size: 65px;
    margin-bottom: 2.5rem;
  }
}
#seminario-de-educacao-legislativa #coluna-conteudo .item-conteudo[data-item=acesse-o-evento] .eventos .linha-separadora-coluna {
  display: none;
}
@media only screen and (min-width: 992px) {
  #seminario-de-educacao-legislativa #coluna-conteudo .item-conteudo[data-item=acesse-o-evento] .eventos .linha-separadora-coluna {
    display: block;
    width: 2px;
    height: auto;
    background-color: #222221;
  }
}
#seminario-de-educacao-legislativa #coluna-conteudo .item-conteudo[data-item=acesse-o-evento] .eventos .grupo-mes {
  display: flex;
  flex-direction: column;
  gap: 2rem;
}
@media only screen and (min-width: 992px) {
  #seminario-de-educacao-legislativa #coluna-conteudo .item-conteudo[data-item=acesse-o-evento] .eventos .grupo-mes {
    gap: 80px;
  }
}
#seminario-de-educacao-legislativa #coluna-conteudo .item-conteudo[data-item=acesse-o-evento] .eventos .grupo-mes .grupo-data {
  display: flex;
  flex-direction: column;
  gap: 32px;
}
@media only screen and (min-width: 576px) {
  #seminario-de-educacao-legislativa #coluna-conteudo .item-conteudo[data-item=acesse-o-evento] .eventos .grupo-mes .grupo-data {
    gap: 40px;
  }
}
@media only screen and (min-width: 992px) {
  #seminario-de-educacao-legislativa #coluna-conteudo .item-conteudo[data-item=acesse-o-evento] .eventos .grupo-mes .grupo-data {
    flex-direction: row;
  }
}
#seminario-de-educacao-legislativa #coluna-conteudo .item-conteudo[data-item=acesse-o-evento] .eventos .grupo-mes .grupo-data .data {
  display: flex;
  align-items: baseline;
  flex-wrap: wrap;
  border-bottom: 1px solid #222221;
  font-weight: 700;
  margin-bottom: 0;
}
@media only screen and (min-width: 576px) {
  #seminario-de-educacao-legislativa #coluna-conteudo .item-conteudo[data-item=acesse-o-evento] .eventos .grupo-mes .grupo-data .data {
    border-bottom-width: 2px;
  }
}
@media only screen and (min-width: 992px) {
  #seminario-de-educacao-legislativa #coluna-conteudo .item-conteudo[data-item=acesse-o-evento] .eventos .grupo-mes .grupo-data .data {
    flex-direction: column;
    border-bottom: 0;
  }
}
#seminario-de-educacao-legislativa #coluna-conteudo .item-conteudo[data-item=acesse-o-evento] .eventos .grupo-mes .grupo-data .data .dia {
  font-size: 60px;
  line-height: 100%;
}
@media only screen and (min-width: 576px) {
  #seminario-de-educacao-legislativa #coluna-conteudo .item-conteudo[data-item=acesse-o-evento] .eventos .grupo-mes .grupo-data .data .dia {
    font-size: 84px;
  }
}
@media only screen and (min-width: 992px) {
  #seminario-de-educacao-legislativa #coluna-conteudo .item-conteudo[data-item=acesse-o-evento] .eventos .grupo-mes .grupo-data .data .dia {
    font-size: 88px;
  }
}
#seminario-de-educacao-legislativa #coluna-conteudo .item-conteudo[data-item=acesse-o-evento] .eventos .grupo-mes .grupo-data .data .dia-semana {
  font-size: 18px;
  padding-bottom: 8px;
}
@media only screen and (min-width: 576px) {
  #seminario-de-educacao-legislativa #coluna-conteudo .item-conteudo[data-item=acesse-o-evento] .eventos .grupo-mes .grupo-data .data .dia-semana {
    font-size: 22px;
    padding-bottom: 16px;
  }
}
@media only screen and (min-width: 992px) {
  #seminario-de-educacao-legislativa #coluna-conteudo .item-conteudo[data-item=acesse-o-evento] .eventos .grupo-mes .grupo-data .data .dia-semana {
    font-size: 25px;
    padding-bottom: 0;
  }
}
#seminario-de-educacao-legislativa #coluna-conteudo .item-conteudo[data-item=acesse-o-evento] .eventos .grupo-mes .grupo-data .periodos {
  display: flex;
  flex-direction: column;
  gap: 1.5rem;
}
#seminario-de-educacao-legislativa #coluna-conteudo .item-conteudo[data-item=acesse-o-evento] .eventos .grupo-mes .grupo-data .periodos .periodo {
  display: flex;
  flex-direction: column;
  gap: 1rem;
}
@media only screen and (min-width: 576px) {
  #seminario-de-educacao-legislativa #coluna-conteudo .item-conteudo[data-item=acesse-o-evento] .eventos .grupo-mes .grupo-data .periodos .periodo {
    gap: 16px;
  }
}
@media only screen and (min-width: 992px) {
  #seminario-de-educacao-legislativa #coluna-conteudo .item-conteudo[data-item=acesse-o-evento] .eventos .grupo-mes .grupo-data .periodos .periodo {
    gap: 20px;
    margin-top: 1rem;
  }
}
#seminario-de-educacao-legislativa #coluna-conteudo .item-conteudo[data-item=acesse-o-evento] .eventos .grupo-mes .grupo-data .periodos .periodo h5 {
  margin-bottom: 0;
  font-size: 21px;
  font-weight: 700;
}
@media only screen and (min-width: 576px) {
  #seminario-de-educacao-legislativa #coluna-conteudo .item-conteudo[data-item=acesse-o-evento] .eventos .grupo-mes .grupo-data .periodos .periodo h5 {
    font-size: 24px;
  }
}
@media only screen and (min-width: 992px) {
  #seminario-de-educacao-legislativa #coluna-conteudo .item-conteudo[data-item=acesse-o-evento] .eventos .grupo-mes .grupo-data .periodos .periodo h5 {
    font-size: 27px;
  }
}
#seminario-de-educacao-legislativa #coluna-conteudo .item-conteudo[data-item=acesse-o-evento] .eventos .grupo-mes .grupo-data .periodos .periodo .botao-cta {
  display: block;
  color: #9FBA6F;
  font-size: 15px;
  line-height: 18px;
}
@media only screen and (min-width: 576px) {
  #seminario-de-educacao-legislativa #coluna-conteudo .item-conteudo[data-item=acesse-o-evento] .eventos .grupo-mes .grupo-data .periodos .periodo .botao-cta {
    font-size: 20px;
    line-height: 23px;
    padding: 4px 4px 4px 8px;
    height: 30px;
  }
}
@media only screen and (min-width: 992px) {
  #seminario-de-educacao-legislativa #coluna-conteudo .item-conteudo[data-item=acesse-o-evento] .eventos .grupo-mes .grupo-data .periodos .periodo .botao-cta {
    font-size: 22px;
    line-height: 25px;
    padding: 6px 10px 8px 10px;
    height: 36px;
  }
}
#seminario-de-educacao-legislativa #coluna-conteudo .item-conteudo[data-item=acesse-o-evento] .eventos .grupo-mes .grupo-data .periodos .periodo .evento p:nth-of-type(1) {
  font-size: 17px;
  line-height: 20px;
}
@media only screen and (min-width: 576px) {
  #seminario-de-educacao-legislativa #coluna-conteudo .item-conteudo[data-item=acesse-o-evento] .eventos .grupo-mes .grupo-data .periodos .periodo .evento p:nth-of-type(1) {
    font-size: 21px;
    line-height: 24px;
  }
}
@media only screen and (min-width: 576px) {
  #seminario-de-educacao-legislativa #coluna-conteudo .item-conteudo[data-item=acesse-o-evento] .eventos .grupo-mes .grupo-data .periodos .periodo .evento p:nth-of-type(1) {
    font-size: 23px;
    line-height: 26px;
  }
}
#seminario-de-educacao-legislativa #coluna-conteudo .item-conteudo[data-item=acesse-o-evento] .eventos .grupo-mes .grupo-data .periodos .periodo .evento p:nth-of-type(2) {
  font-size: 14px;
  line-height: 17px;
}
@media only screen and (min-width: 576px) {
  #seminario-de-educacao-legislativa #coluna-conteudo .item-conteudo[data-item=acesse-o-evento] .eventos .grupo-mes .grupo-data .periodos .periodo .evento p:nth-of-type(2) {
    font-size: 16px;
    line-height: 19px;
  }
}
@media only screen and (min-width: 576px) {
  #seminario-de-educacao-legislativa #coluna-conteudo .item-conteudo[data-item=acesse-o-evento] .eventos .grupo-mes .grupo-data .periodos .periodo .evento p:nth-of-type(2) {
    font-size: 20px;
    line-height: 23px;
  }
}
#seminario-de-educacao-legislativa #coluna-conteudo .item-conteudo[data-item=programacao] .descricao {
  width: 252px;
  margin-bottom: 34px;
}
@media only screen and (min-width: 576px) {
  #seminario-de-educacao-legislativa #coluna-conteudo .item-conteudo[data-item=programacao] .descricao {
    width: 396px;
    font-size: 16px;
    margin-bottom: 56px;
  }
  #seminario-de-educacao-legislativa #coluna-conteudo .item-conteudo[data-item=programacao] .descricao p {
    margin-bottom: 1.6rem;
  }
}
@media only screen and (min-width: 1200px) {
  #seminario-de-educacao-legislativa #coluna-conteudo .item-conteudo[data-item=programacao] .descricao {
    width: 635px;
    font-size: 20px;
  }
}
#seminario-de-educacao-legislativa #coluna-conteudo .item-conteudo[data-item=programacao] .descricao .botao-cta {
  margin-top: 20px;
}
#seminario-de-educacao-legislativa #coluna-conteudo .item-conteudo[data-item=programacao] .programacao {
  margin-right: 16px;
}
@media only screen and (min-width: 576px) {
  #seminario-de-educacao-legislativa #coluna-conteudo .item-conteudo[data-item=programacao] .programacao {
    margin-right: 36px;
  }
}
#seminario-de-educacao-legislativa #coluna-conteudo .item-conteudo[data-item=programacao] .programacao .mes {
  font-size: 32px;
  font-weight: 700;
  margin-bottom: 16px;
}
@media only screen and (min-width: 576px) {
  #seminario-de-educacao-legislativa #coluna-conteudo .item-conteudo[data-item=programacao] .programacao .mes {
    font-size: 55px;
    margin-bottom: 32px;
  }
}
@media only screen and (min-width: 1200px) {
  #seminario-de-educacao-legislativa #coluna-conteudo .item-conteudo[data-item=programacao] .programacao .mes {
    font-size: 65px;
  }
}
#seminario-de-educacao-legislativa #coluna-conteudo .item-conteudo[data-item=programacao] .programacao .grupo-mes {
  display: flex;
  flex-direction: column;
  gap: 56px;
}
@media only screen and (min-width: 1200px) {
  #seminario-de-educacao-legislativa #coluna-conteudo .item-conteudo[data-item=programacao] .programacao .grupo-mes {
    gap: 64px;
  }
}
#seminario-de-educacao-legislativa #coluna-conteudo .item-conteudo[data-item=programacao] .programacao .grupo-mes .grupo-data {
  display: flex;
  flex-direction: column;
  gap: 32px;
}
@media only screen and (min-width: 576px) {
  #seminario-de-educacao-legislativa #coluna-conteudo .item-conteudo[data-item=programacao] .programacao .grupo-mes .grupo-data {
    gap: 40px;
  }
}
@media only screen and (min-width: 1200px) {
  #seminario-de-educacao-legislativa #coluna-conteudo .item-conteudo[data-item=programacao] .programacao .grupo-mes .grupo-data {
    gap: 56px;
  }
}
#seminario-de-educacao-legislativa #coluna-conteudo .item-conteudo[data-item=programacao] .programacao .grupo-mes .grupo-data .data {
  border-bottom: 1px solid #222221;
  font-weight: 700;
}
#seminario-de-educacao-legislativa #coluna-conteudo .item-conteudo[data-item=programacao] .programacao .grupo-mes .grupo-data .data .dia {
  font-size: 60px;
}
@media only screen and (min-width: 576px) {
  #seminario-de-educacao-legislativa #coluna-conteudo .item-conteudo[data-item=programacao] .programacao .grupo-mes .grupo-data .data .dia {
    font-size: 84px;
  }
}
@media only screen and (min-width: 1200px) {
  #seminario-de-educacao-legislativa #coluna-conteudo .item-conteudo[data-item=programacao] .programacao .grupo-mes .grupo-data .data .dia {
    font-size: 88px;
  }
}
#seminario-de-educacao-legislativa #coluna-conteudo .item-conteudo[data-item=programacao] .programacao .grupo-mes .grupo-data .data .dia-semana {
  font-size: 18px;
}
@media only screen and (min-width: 576px) {
  #seminario-de-educacao-legislativa #coluna-conteudo .item-conteudo[data-item=programacao] .programacao .grupo-mes .grupo-data .data .dia-semana {
    font-size: 22px;
  }
}
@media only screen and (min-width: 1200px) {
  #seminario-de-educacao-legislativa #coluna-conteudo .item-conteudo[data-item=programacao] .programacao .grupo-mes .grupo-data .data .dia-semana {
    font-size: 25px;
  }
}
#seminario-de-educacao-legislativa #coluna-conteudo .item-conteudo[data-item=programacao] .programacao .grupo-mes .grupo-data .evento {
  display: flex;
  flex-direction: column;
  gap: 10px;
  background-color: #FFFFFF;
  border: 1px solid #222221;
  padding: 16px 9px 16px 8px;
  font-size: 15px;
}
@media only screen and (min-width: 576px) {
  #seminario-de-educacao-legislativa #coluna-conteudo .item-conteudo[data-item=programacao] .programacao .grupo-mes .grupo-data .evento {
    padding: 16px 13px 16px 21px;
    font-size: 16px;
    gap: 16px;
  }
}
@media only screen and (min-width: 1200px) {
  #seminario-de-educacao-legislativa #coluna-conteudo .item-conteudo[data-item=programacao] .programacao .grupo-mes .grupo-data .evento {
    padding: 18px 27px 18px 35px;
    font-size: 20px;
    gap: 20px;
  }
}
#seminario-de-educacao-legislativa #coluna-conteudo .item-conteudo[data-item=programacao] .programacao .grupo-mes .grupo-data .evento .horario {
  font-size: 18px;
  font-weight: 700;
}
@media only screen and (min-width: 576px) {
  #seminario-de-educacao-legislativa #coluna-conteudo .item-conteudo[data-item=programacao] .programacao .grupo-mes .grupo-data .evento .horario {
    font-size: 22px;
  }
}
@media only screen and (min-width: 1200px) {
  #seminario-de-educacao-legislativa #coluna-conteudo .item-conteudo[data-item=programacao] .programacao .grupo-mes .grupo-data .evento .horario {
    font-size: 25px;
  }
}
#seminario-de-educacao-legislativa #coluna-conteudo .item-conteudo[data-item=programacao] .programacao .grupo-mes .grupo-data .evento .assunto {
  font-weight: 700;
  line-height: 18px;
}
#seminario-de-educacao-legislativa #coluna-conteudo .item-conteudo[data-item=programacao] .programacao .grupo-mes .grupo-data .evento .assunto .modalidade {
  font-style: italic;
}
#seminario-de-educacao-legislativa #coluna-conteudo .item-conteudo[data-item=programacao] .programacao .grupo-mes .grupo-data .evento .texto {
  line-height: 18px;
}
@media only screen and (min-width: 576px) {
  #seminario-de-educacao-legislativa #coluna-conteudo .item-conteudo[data-item=programacao] .programacao .grupo-mes .grupo-data .evento .texto {
    line-height: 20px;
  }
}
@media only screen and (min-width: 1200px) {
  #seminario-de-educacao-legislativa #coluna-conteudo .item-conteudo[data-item=programacao] .programacao .grupo-mes .grupo-data .evento .texto {
    line-height: 24px;
  }
}
#seminario-de-educacao-legislativa #coluna-conteudo .item-conteudo[data-item=programacao] .programacao .grupo-mes .grupo-data .evento .texto p:last-child {
  margin-bottom: 0;
}
#seminario-de-educacao-legislativa #coluna-conteudo .item-conteudo[data-item=programacao] .programacao .grupo-mes .grupo-data .evento .texto .destaque-1 {
  font-weight: 700;
}
#seminario-de-educacao-legislativa #coluna-conteudo .item-conteudo[data-item=programacao] .programacao .grupo-mes .grupo-data .evento .texto .destaque-2 {
  display: block;
  font-size: 10px;
  line-height: 13px;
  margin-top: 2px;
}
@media only screen and (min-width: 576px) {
  #seminario-de-educacao-legislativa #coluna-conteudo .item-conteudo[data-item=programacao] .programacao .grupo-mes .grupo-data .evento .texto .destaque-2 {
    font-size: 12px;
    line-height: 15px;
  }
}
@media only screen and (min-width: 1200px) {
  #seminario-de-educacao-legislativa #coluna-conteudo .item-conteudo[data-item=programacao] .programacao .grupo-mes .grupo-data .evento .texto .destaque-2 {
    font-size: 15px;
    line-height: 18px;
  }
}
#seminario-de-educacao-legislativa #coluna-conteudo .item-conteudo[data-item=programacao] .botao-cta {
  display: block;
}
#seminario-de-educacao-legislativa #coluna-conteudo .item-conteudo[data-item=rede-do-legislativo] .titulo {
  width: 240px;
}
@media only screen and (min-width: 576px) {
  #seminario-de-educacao-legislativa #coluna-conteudo .item-conteudo[data-item=rede-do-legislativo] .titulo {
    width: 420px;
  }
}
#seminario-de-educacao-legislativa #coluna-conteudo .item-conteudo[data-item=rede-do-legislativo] .descricao {
  width: 240px;
  line-height: 112%;
  margin-bottom: 48px;
}
@media only screen and (min-width: 576px) {
  #seminario-de-educacao-legislativa #coluna-conteudo .item-conteudo[data-item=rede-do-legislativo] .descricao {
    width: 396px;
    font-size: 16px;
    margin-bottom: 56px;
  }
  #seminario-de-educacao-legislativa #coluna-conteudo .item-conteudo[data-item=rede-do-legislativo] .descricao p {
    margin-bottom: 1.6rem;
  }
}
@media only screen and (min-width: 1200px) {
  #seminario-de-educacao-legislativa #coluna-conteudo .item-conteudo[data-item=rede-do-legislativo] .descricao {
    width: 635px;
    font-size: 20px;
  }
}
#seminario-de-educacao-legislativa #coluna-conteudo .item-conteudo[data-item=rede-do-legislativo] .caixas {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  padding: 0px;
  gap: 24px;
}
@media only screen and (min-width: 576px) {
  #seminario-de-educacao-legislativa #coluna-conteudo .item-conteudo[data-item=rede-do-legislativo] .caixas {
    width: 400px;
    flex-direction: row;
    flex-wrap: wrap;
    gap: 32px;
  }
}
@media only screen and (min-width: 1200px) {
  #seminario-de-educacao-legislativa #coluna-conteudo .item-conteudo[data-item=rede-do-legislativo] .caixas {
    width: auto;
    gap: 42px;
  }
}
#seminario-de-educacao-legislativa #coluna-conteudo .item-conteudo[data-item=rede-do-legislativo] .caixas .caixa {
  width: 156px;
  height: 103px;
  padding: 42px 20px 0 20px;
  text-align: center;
  font-size: 15px;
  font-weight: 700;
  line-height: 112%;
  color: #FFFFFF;
  letter-spacing: 0.05em;
  cursor: pointer;
}
@media only screen and (min-width: 576px) {
  #seminario-de-educacao-legislativa #coluna-conteudo .item-conteudo[data-item=rede-do-legislativo] .caixas .caixa {
    width: 182px;
    height: 120px;
    font-size: 18px;
    padding-top: 50px;
  }
}
@media only screen and (min-width: 1200px) {
  #seminario-de-educacao-legislativa #coluna-conteudo .item-conteudo[data-item=rede-do-legislativo] .caixas .caixa {
    width: 201px;
    height: 132px;
    font-size: 20px;
  }
}
#seminario-de-educacao-legislativa #coluna-conteudo .item-conteudo[data-item=rede-do-legislativo] .caixas .caixa:nth-of-type(1) {
  background-image: url("data:image/svg+xml,%3Csvg width='201' height='132' viewBox='0 0 201 132' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Crect x='1' y='1' width='199' height='130' fill='%239FBA6F' stroke='%23222221' stroke-width='2'/%3E%3Ccircle cx='16' cy='14' r='3' stroke='%23222221' stroke-width='2'/%3E%3Ccircle cx='30' cy='14' r='3' stroke='%23222221' stroke-width='2'/%3E%3Cpath d='M0 26 H200' stroke='%23222221' stroke-width='2'/%3E%3Crect x='42' y='11' width='146' height='6' stroke='%23222221' stroke-width='2'/%3E%3C/svg%3E%0A");
}
#seminario-de-educacao-legislativa #coluna-conteudo .item-conteudo[data-item=rede-do-legislativo] .caixas .caixa:nth-of-type(2) {
  background-image: url("data:image/svg+xml,%3Csvg width='201' height='132' viewBox='0 0 201 132' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Crect x='1' y='1' width='199' height='130' fill='%239FBA6F' stroke='%23222221' stroke-width='2'/%3E%3Ccircle cx='16' cy='14' r='3' fill='%23222221' stroke='%23222221' stroke-width='2'/%3E%3Ccircle cx='30' cy='14' r='3' stroke='%23222221' stroke-width='2'/%3E%3Cpath d='M0 26 H200' stroke='%23222221' stroke-width='2'/%3E%3Crect x='42' y='11' width='146' height='6' stroke='%23222221' stroke-width='2'/%3E%3C/svg%3E%0A");
}
#seminario-de-educacao-legislativa #coluna-conteudo .item-conteudo[data-item=rede-do-legislativo] .caixas .caixa:nth-of-type(3) {
  background-image: url("data:image/svg+xml,%3Csvg width='201' height='132' viewBox='0 0 201 132' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Crect x='1' y='1' width='199' height='130' fill='%239FBA6F' stroke='%23222221' stroke-width='2'/%3E%3Ccircle cx='16' cy='14' r='3' fill='%23222221' stroke='%23222221' stroke-width='2'/%3E%3Ccircle cx='30' cy='14' r='3' fill='%23222221' stroke='%23222221' stroke-width='2'/%3E%3Cpath d='M0 26 H200' stroke='%23222221' stroke-width='2'/%3E%3Crect x='42' y='11' width='146' height='6' stroke='%23222221' stroke-width='2'/%3E%3C/svg%3E%0A");
}
#seminario-de-educacao-legislativa #coluna-conteudo .item-conteudo[data-item=rede-do-legislativo] .caixas .caixa:nth-of-type(1), #seminario-de-educacao-legislativa #coluna-conteudo .item-conteudo[data-item=rede-do-legislativo] .caixas .caixa:nth-of-type(2), #seminario-de-educacao-legislativa #coluna-conteudo .item-conteudo[data-item=rede-do-legislativo] .caixas .caixa:nth-of-type(3) {
  background-size: 156px 103px;
  background-repeat: no-repeat;
}
@media only screen and (min-width: 576px) {
  #seminario-de-educacao-legislativa #coluna-conteudo .item-conteudo[data-item=rede-do-legislativo] .caixas .caixa:nth-of-type(1), #seminario-de-educacao-legislativa #coluna-conteudo .item-conteudo[data-item=rede-do-legislativo] .caixas .caixa:nth-of-type(2), #seminario-de-educacao-legislativa #coluna-conteudo .item-conteudo[data-item=rede-do-legislativo] .caixas .caixa:nth-of-type(3) {
    background-size: 182px 120px;
  }
}
@media only screen and (min-width: 1200px) {
  #seminario-de-educacao-legislativa #coluna-conteudo .item-conteudo[data-item=rede-do-legislativo] .caixas .caixa:nth-of-type(1), #seminario-de-educacao-legislativa #coluna-conteudo .item-conteudo[data-item=rede-do-legislativo] .caixas .caixa:nth-of-type(2), #seminario-de-educacao-legislativa #coluna-conteudo .item-conteudo[data-item=rede-do-legislativo] .caixas .caixa:nth-of-type(3) {
    background-size: 201px 132px;
  }
}
#seminario-de-educacao-legislativa #coluna-conteudo .item-conteudo[data-item=certificado] .certificados {
  display: flex;
  flex-direction: column;
  gap: 40px;
  margin-top: 48px;
}
@media only screen and (min-width: 576px) {
  #seminario-de-educacao-legislativa #coluna-conteudo .item-conteudo[data-item=certificado] .certificados {
    margin-top: 68px;
  }
}
@media only screen and (min-width: 992px) {
  #seminario-de-educacao-legislativa #coluna-conteudo .item-conteudo[data-item=certificado] .certificados {
    flex-direction: row;
    flex-wrap: wrap;
    gap: 32px;
  }
}
#seminario-de-educacao-legislativa #coluna-conteudo .item-conteudo[data-item=certificado] .certificados .linha-separadora-coluna {
  display: none;
}
@media only screen and (min-width: 992px) {
  #seminario-de-educacao-legislativa #coluna-conteudo .item-conteudo[data-item=certificado] .certificados .linha-separadora-coluna {
    display: block;
    width: 2px;
    height: auto;
    background-color: #222221;
  }
}
#seminario-de-educacao-legislativa #coluna-conteudo .item-conteudo[data-item=certificado] .certificados .grupo-data {
  display: flex;
  flex-direction: column;
  gap: 32px;
  margin-bottom: 0;
}
@media only screen and (min-width: 576px) {
  #seminario-de-educacao-legislativa #coluna-conteudo .item-conteudo[data-item=certificado] .certificados .grupo-data {
    gap: 40px;
  }
}
@media only screen and (min-width: 992px) {
  #seminario-de-educacao-legislativa #coluna-conteudo .item-conteudo[data-item=certificado] .certificados .grupo-data:not(:last-child) {
    width: 33.33%;
    flex: 1;
  }
  #seminario-de-educacao-legislativa #coluna-conteudo .item-conteudo[data-item=certificado] .certificados .grupo-data:last-child {
    width: 100%;
    margin-top: 32px;
  }
}
#seminario-de-educacao-legislativa #coluna-conteudo .item-conteudo[data-item=certificado] .certificados .grupo-data .data {
  display: flex;
  align-items: baseline;
  flex-wrap: wrap;
  border-bottom: 1px solid #222221;
  font-weight: 700;
  margin-bottom: 0;
}
@media only screen and (min-width: 576px) {
  #seminario-de-educacao-legislativa #coluna-conteudo .item-conteudo[data-item=certificado] .certificados .grupo-data .data {
    flex-direction: column;
    border-bottom-width: 2px;
  }
}
@media only screen and (min-width: 992px) {
  #seminario-de-educacao-legislativa #coluna-conteudo .item-conteudo[data-item=certificado] .certificados .grupo-data .data {
    border-bottom: 0;
  }
}
#seminario-de-educacao-legislativa #coluna-conteudo .item-conteudo[data-item=certificado] .certificados .grupo-data .data .dia {
  font-size: 60px;
  line-height: 100%;
}
@media only screen and (min-width: 576px) {
  #seminario-de-educacao-legislativa #coluna-conteudo .item-conteudo[data-item=certificado] .certificados .grupo-data .data .dia {
    font-size: 84px;
  }
}
@media only screen and (min-width: 992px) {
  #seminario-de-educacao-legislativa #coluna-conteudo .item-conteudo[data-item=certificado] .certificados .grupo-data .data .dia {
    font-size: 88px;
  }
}
#seminario-de-educacao-legislativa #coluna-conteudo .item-conteudo[data-item=certificado] .certificados .grupo-data .data .dia-semana {
  font-size: 18px;
  padding-bottom: 8px;
}
@media only screen and (min-width: 576px) {
  #seminario-de-educacao-legislativa #coluna-conteudo .item-conteudo[data-item=certificado] .certificados .grupo-data .data .dia-semana {
    font-size: 22px;
    padding-bottom: 16px;
  }
}
@media only screen and (min-width: 992px) {
  #seminario-de-educacao-legislativa #coluna-conteudo .item-conteudo[data-item=certificado] .certificados .grupo-data .data .dia-semana {
    font-size: 25px;
    padding-bottom: 0;
  }
}
#seminario-de-educacao-legislativa #coluna-conteudo .item-conteudo[data-item=certificado] .certificados .grupo-data .lista-certificados {
  display: flex;
  flex-direction: column;
  gap: 32px;
}
@media only screen and (min-width: 576px) {
  #seminario-de-educacao-legislativa #coluna-conteudo .item-conteudo[data-item=certificado] .certificados .grupo-data .lista-certificados {
    flex-direction: row;
    gap: 64px;
  }
}
@media only screen and (min-width: 992px) {
  #seminario-de-educacao-legislativa #coluna-conteudo .item-conteudo[data-item=certificado] .certificados .grupo-data .lista-certificados {
    flex-direction: column;
    gap: 48px;
  }
}
#seminario-de-educacao-legislativa #coluna-conteudo .item-conteudo[data-item=certificado] .certificados .grupo-data .lista-certificados .certificado {
  display: flex;
  flex-direction: column;
  gap: 20px;
}
@media only screen and (min-width: 576px) {
  #seminario-de-educacao-legislativa #coluna-conteudo .item-conteudo[data-item=certificado] .certificados .grupo-data .lista-certificados .certificado {
    gap: 24px;
  }
}
#seminario-de-educacao-legislativa #coluna-conteudo .item-conteudo[data-item=certificado] .certificados .grupo-data .lista-certificados .certificado .periodo {
  font-weight: 700;
  line-height: 100%;
}
@media only screen and (min-width: 576px) {
  #seminario-de-educacao-legislativa #coluna-conteudo .item-conteudo[data-item=certificado] .certificados .grupo-data .lista-certificados .certificado .periodo {
    font-size: 24px;
  }
}
#seminario-de-educacao-legislativa #coluna-conteudo .item-conteudo[data-item=certificado] .certificados .grupo-data .lista-certificados .certificado .descricao {
  line-height: 100%;
}
#seminario-de-educacao-legislativa #coluna-conteudo .item-conteudo[data-item=certificado] .certificados .grupo-data .lista-certificados .certificado .descricao p {
  margin: 0 0 20px 0;
}
@media only screen and (min-width: 576px) {
  #seminario-de-educacao-legislativa #coluna-conteudo .item-conteudo[data-item=certificado] .certificados .grupo-data .lista-certificados .certificado .descricao p {
    margin-bottom: 24px;
  }
}
#seminario-de-educacao-legislativa #coluna-conteudo .item-conteudo[data-item=certificado] .certificados .grupo-data .lista-certificados .certificado .descricao p:last-child {
  margin: 0;
}
#seminario-de-educacao-legislativa #coluna-conteudo .item-conteudo[data-item=certificado] .certificados .grupo-data .lista-certificados .certificado .botao-cta {
  display: block;
  color: #9FBA6F;
  font-size: 15px;
  line-height: 18px;
}
@media only screen and (min-width: 576px) {
  #seminario-de-educacao-legislativa #coluna-conteudo .item-conteudo[data-item=certificado] .certificados .grupo-data .lista-certificados .certificado .botao-cta {
    font-size: 20px;
    line-height: 23px;
    padding: 4px 4px 4px 8px;
    height: 30px;
  }
}
@media only screen and (min-width: 992px) {
  #seminario-de-educacao-legislativa #coluna-conteudo .item-conteudo[data-item=certificado] .certificados .grupo-data .lista-certificados .certificado .botao-cta {
    font-size: 22px;
    line-height: 25px;
    padding: 4px 4px 4px 8px;
    height: 31px;
  }
}
#seminario-de-educacao-legislativa #coluna-conteudo .item-conteudo[data-item=certificado] .certificados .grupo-data .lista-certificados .certificado .botao-cta.preto {
  color: #FFFFFF;
  background-color: #222221;
  font-size: 18px;
  line-height: 20px;
  height: 28px;
}
@media only screen and (min-width: 576px) {
  #seminario-de-educacao-legislativa #coluna-conteudo .item-conteudo[data-item=certificado] .certificados .grupo-data .lista-certificados .certificado .botao-cta.preto {
    font-size: 25px;
    line-height: 27px;
    height: 35px;
  }
}
@media only screen and (min-width: 992px) {
  #seminario-de-educacao-legislativa #coluna-conteudo .item-conteudo[data-item=certificado] .certificados .grupo-data .lista-certificados .certificado .botao-cta.preto {
    font-size: 28px;
    line-height: 30px;
    height: 38px;
  }
}
#seminario-de-educacao-legislativa #coluna-conteudo .item-conteudo[data-item=gravacoes] img {
  display: block;
  width: 241px;
  margin-top: 40px;
  margin-bottom: 32px;
  margin-left: auto;
  margin-right: auto;
}
@media only screen and (min-width: 576px) {
  #seminario-de-educacao-legislativa #coluna-conteudo .item-conteudo[data-item=gravacoes] img {
    width: 397px;
    margin-top: 56px;
    margin-bottom: 40px;
  }
}
@media only screen and (min-width: 992px) {
  #seminario-de-educacao-legislativa #coluna-conteudo .item-conteudo[data-item=gravacoes] img {
    width: 687px;
    margin-bottom: 56px;
  }
}
#seminario-de-educacao-legislativa #coluna-conteudo .item-conteudo[data-item=gravacoes] .botao-cta {
  display: block;
  font-size: 15px;
  line-height: 18px;
  margin: 0 auto;
}
@media only screen and (min-width: 576px) {
  #seminario-de-educacao-legislativa #coluna-conteudo .item-conteudo[data-item=gravacoes] .botao-cta {
    font-size: 18px;
    line-height: 21px;
  }
}
@media only screen and (min-width: 992px) {
  #seminario-de-educacao-legislativa #coluna-conteudo .item-conteudo[data-item=gravacoes] .botao-cta {
    font-size: 30px;
    line-height: 33px;
    height: 50px;
  }
}
#seminario-de-educacao-legislativa #coluna-conteudo .logos {
  position: relative;
  width: 100%;
  height: 444px;
  margin-left: -50px;
  box-sizing: content-box;
  display: none;
  padding-top: 40px;
  padding-left: 50px;
  background: #ffffff;
}
@media only screen and (min-width: 576px) {
  #seminario-de-educacao-legislativa #coluna-conteudo .logos {
    height: auto;
    padding-top: 16px;
    padding-bottom: 16px;
  }
}
@media only screen and (min-width: 768px) {
  #seminario-de-educacao-legislativa #coluna-conteudo .logos {
    margin-left: -106px;
    padding-left: 106px;
  }
}
@media only screen and (min-width: 1200px) {
  #seminario-de-educacao-legislativa #coluna-conteudo .logos {
    margin-left: -172px;
    padding-left: 172px;
    height: 91px;
    padding-bottom: 0;
  }
}
#seminario-de-educacao-legislativa #coluna-conteudo .logos.ativo {
  display: block;
}
@media only screen and (min-width: 576px) {
  #seminario-de-educacao-legislativa #coluna-conteudo .logos .container-logos {
    display: flex;
    width: 290px;
    flex-flow: row wrap;
  }
}
@media only screen and (min-width: 1200px) {
  #seminario-de-educacao-legislativa #coluna-conteudo .logos .container-logos {
    width: 680px;
    justify-content: space-between;
  }
}
#seminario-de-educacao-legislativa #coluna-conteudo .logos .container-logos .realizacao,
#seminario-de-educacao-legislativa #coluna-conteudo .logos .container-logos .apoio {
  margin-top: 40px;
}
@media only screen and (min-width: 576px) {
  #seminario-de-educacao-legislativa #coluna-conteudo .logos .container-logos .realizacao,
#seminario-de-educacao-legislativa #coluna-conteudo .logos .container-logos .apoio {
    margin-top: 0;
    text-align: center;
  }
}
#seminario-de-educacao-legislativa #coluna-conteudo .logos .container-logos .realizacao h2,
#seminario-de-educacao-legislativa #coluna-conteudo .logos .container-logos .apoio h2 {
  font-size: 12px;
  margin-bottom: 16px;
}
@media only screen and (min-width: 576px) {
  #seminario-de-educacao-legislativa #coluna-conteudo .logos .container-logos .realizacao {
    width: 123px;
  }
}
@media only screen and (min-width: 576px) {
  #seminario-de-educacao-legislativa #coluna-conteudo .logos .container-logos .apoio {
    width: 235px;
  }
}
@media only screen and (min-width: 1200px) {
  #seminario-de-educacao-legislativa #coluna-conteudo .logos .container-logos .apoio {
    width: 272px;
  }
}
#seminario-de-educacao-legislativa #coluna-conteudo .logos .container-logos .educacao-legislativa-30-anos {
  background-image: url("../imagens/logos/educacao_legislativa_30_anos.jpg");
  background-repeat: no-repeat;
  width: 156px;
  height: 87px;
}
@media only screen and (min-width: 576px) {
  #seminario-de-educacao-legislativa #coluna-conteudo .logos .container-logos .educacao-legislativa-30-anos {
    width: 118px;
    height: 67px;
    background-size: 118px;
    margin-top: 8px;
    margin-right: 48px;
    margin-bottom: 28px;
  }
}
@media only screen and (min-width: 1200px) {
  #seminario-de-educacao-legislativa #coluna-conteudo .logos .container-logos .educacao-legislativa-30-anos {
    width: 128px;
    height: 72px;
    background-size: 128px;
    margin-right: 0;
    margin-bottom: 0;
  }
}
#seminario-de-educacao-legislativa #coluna-conteudo .logos .container-logos .camara-dos-deputados {
  background-image: url("../imagens/logos/camara_dos_deputados.jpg");
  background-repeat: no-repeat;
  width: 157px;
  height: 42px;
}
@media only screen and (min-width: 576px) {
  #seminario-de-educacao-legislativa #coluna-conteudo .logos .container-logos .camara-dos-deputados {
    width: 123px;
    background-size: 123px;
  }
}
@media only screen and (min-width: 1200px) {
  #seminario-de-educacao-legislativa #coluna-conteudo .logos .container-logos .camara-dos-deputados {
    width: 123px;
    background-size: 123px;
  }
}
#seminario-de-educacao-legislativa #coluna-conteudo .logos .container-logos .abel {
  background-image: url("../imagens/logos/abel.jpg");
  background-repeat: no-repeat;
  width: 156px;
  height: 69px;
  margin-bottom: 24px;
}
@media only screen and (min-width: 576px) {
  #seminario-de-educacao-legislativa #coluna-conteudo .logos .container-logos .abel {
    display: inline-block;
    width: 90px;
    height: 45px;
    background-size: 90px;
    margin-bottom: 0;
    margin-right: 20px;
  }
}
@media only screen and (min-width: 1200px) {
  #seminario-de-educacao-legislativa #coluna-conteudo .logos .container-logos .abel {
    width: 98px;
    height: 50px;
    background-size: 98px;
    margin-right: 50px;
  }
}
#seminario-de-educacao-legislativa #coluna-conteudo .logos .container-logos .senado-federal {
  background-image: url("../imagens/logos/senado_federal.jpg");
  background-repeat: no-repeat;
  width: 156px;
  height: 45px;
}
@media only screen and (min-width: 576px) {
  #seminario-de-educacao-legislativa #coluna-conteudo .logos .container-logos .senado-federal {
    display: inline-block;
    width: 119px;
    height: 43px;
    background-size: 119px;
  }
}