$bootstrap-breakpoint: "-fluid";
$verde-1: #BFDA90;
$verde-2: #9FBA6F;
$cinza-1: #222221;
// $pasta-imagens: "https://www.educacaoadistancia.camara.leg.br/ead_cfd/pluginfile.php/275804/mod_folder/content/0/imagens/";
$pasta-imagens: "../imagens/";
$pasta-logos: $pasta-imagens+"logos/";

$familia-fonte: 'Helvetica';

@mixin texto-padding-linhas {
	-webkit-box-decoration-break: clone;
	box-decoration-break: clone;
}

@mixin lista-seta-1 {
	ul {
		font-size: 15px;
		font-weight: 400;
		list-style: none;
		padding: 0;
		margin: 8px 0;

		li {
			&:not(:last-child) {
				margin-bottom: 6px;
			}

			&::before {
				content: "»";
				padding-right: 4px;
				font-size: 12px;
				font-weight: 700;
				vertical-align: text-bottom;
			}
		}
	}
}

@mixin img-logo($url, $w, $h) {
	background: {
		image: url($url);
		repeat: no-repeat;
	}

	width: $w;
	height: $h;
}

/*
tipo:
 1 = 2 bolas vazias
 2 = 1 bola vazia outra cheia
 3 = 2 bolas cheias
 */
@mixin caixa-svg-bg($tipo:1) {
	$cor-caixa-fill: '%239FBA6F';
	$cor-caixa-stroke: '%23222221';
	$svg: "data:image/svg+xml,%3Csvg width='201' height='132' viewBox='0 0 201 132' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Crect x='1' y='1' width='199' height='130' fill='%239FBA6F' stroke='%23222221' stroke-width='2'/%3E%3Ccircle cx='16' cy='14' r='3'";

	@if $tipo == 1 {
		background-image: url("#{$svg} stroke='%23222221' stroke-width='2'/%3E%3Ccircle cx='30' cy='14' r='3' stroke='%23222221' stroke-width='2'/%3E%3Cpath d='M0 26 H200' stroke='%23222221' stroke-width='2'/%3E%3Crect x='42' y='11' width='146' height='6' stroke='%23222221' stroke-width='2'/%3E%3C/svg%3E%0A");
	} @else if $tipo == 2 {
		background-image: url("#{$svg} fill='%23222221' stroke='%23222221' stroke-width='2'/%3E%3Ccircle cx='30' cy='14' r='3' stroke='%23222221' stroke-width='2'/%3E%3Cpath d='M0 26 H200' stroke='%23222221' stroke-width='2'/%3E%3Crect x='42' y='11' width='146' height='6' stroke='%23222221' stroke-width='2'/%3E%3C/svg%3E%0A");
	} @else {
		background-image: url("#{$svg} fill='%23222221' stroke='%23222221' stroke-width='2'/%3E%3Ccircle cx='30' cy='14' r='3' fill='%23222221' stroke='%23222221' stroke-width='2'/%3E%3Cpath d='M0 26 H200' stroke='%23222221' stroke-width='2'/%3E%3Crect x='42' y='11' width='146' height='6' stroke='%23222221' stroke-width='2'/%3E%3C/svg%3E%0A");
	}
}

/* INÍCIO - Layout moodle */

.pagelayout-course .headerbkg {
	display: none;
}

.pagelayout-course div#learningcontent {
	margin-top: 0 !important;
}

#region-main-box,
#region-main {
	@media only screen and (max-width: 1200px) {
		padding: 0;
	}
}

/* Esconder elementos padrão do Moodle acima do menu */
#page-navbar > nav > ul,
#page-header > div > div > div > div >div.mr-auto,
#page-header > div > div > div > div.d-flex.flex-wrap,
h3.sectionname,
#completionprogressid {
    display: none;
}

.course-content ul.topics li.section,
.course-content ul.weeks li.section {
	padding-top: 0;
	padding-bottom: 0;
}

/* Esconder Borda Padrão do Moodle da área do conteúdo */
.course-content ul.topics li.section .content {
    border: 0;
}

/* Fundo área de navegação */
#section-0 > div.content > div.summary {
    background-color: #ffffff;
	padding: 0;
    max-width: 1440px;
}

/* FIM - Layout moodle */

#seminario-de-educacao-legislativa {
	font-family: $familia-fonte;
	color: $cinza-1;
	background-color: $verde-1;

	&.container#{$bootstrap-breakpoint} {
		position: relative;
		// width: 360px;
		/* height: 1110px; */
		min-height: 544px;
		// background-color: #CCCCCC;
		/* border: 1px solid red; */
		margin: 0 auto;
		padding: 0px;

		@media only screen and (min-width: 768px) {
			display: flex;
			align-items: stretch;
			width: unset;
		}
	}

	#fundo-sombra {
		position: absolute;
		width: 100%;
		height: 100%;
		background: rgba(34, 34, 33, 0.5);
		display: none;
		z-index: 4;

		@media only screen and (min-width: 768px) {
			display: none;
		}
	}

	#coluna-lateral {
		position: absolute;
		width: 52px;
		height: 100%;
		left: 0;
		background: $verde-2;
		border-right: 1px solid $cinza-1;
		z-index: 5;

		@media only screen and (min-width: 768px) {
			position: relative;
			width: 183px;
			height: unset;
		}

		@media only screen and (min-width: 1200px) {
			position: relative;
			width: 285px;
			height: unset;
		}
	}

	#icone-menu {
		position: absolute;
		top: 56px;
		left: 16px;
		z-index: 6;
		width: 20px;
		height: 20px;
		-webkit-transform: rotate(0deg);
		-moz-transform: rotate(0deg);
		-o-transform: rotate(0deg);
		transform: rotate(0deg);
		-webkit-transition: .5s ease-in-out;
		-moz-transition: .5s ease-in-out;
		-o-transition: .5s ease-in-out;
		transition: .5s ease-in-out;
		cursor: pointer;

		@media only screen and (min-width: 768px) {
			display: none;
		}

		span {
			display: block;
			position: absolute;
			height: 4px;
			width: 100%;
			background: $verde-1;
			opacity: 1;
			left: 0;
			-webkit-transform: rotate(0deg);
			-moz-transform: rotate(0deg);
			-o-transform: rotate(0deg);
			transform: rotate(0deg);
			-webkit-transition: .25s ease-in-out;
			-moz-transition: .25s ease-in-out;
			-o-transition: .25s ease-in-out;
			transition: .25s ease-in-out;
		}

		span:nth-child(1) {
			top: 0px;
		}

		span:nth-child(2) {
			top: 8px;
		}

		span:nth-child(3) {
			top: 16px;
		}

		&.aberto span:nth-child(1) {
			top: 3px;
			width: 16px;
			-webkit-transform: rotate(-45deg);
			-moz-transform: rotate(-45deg);
			-o-transform: rotate(-45deg);
			transform: rotate(-45deg);
		}

		&.aberto span:nth-child(2) {
			opacity: 0;
			left: 110px;
		}

		&.aberto span:nth-child(3) {
			top: 13px;
			width: 16px;
			-webkit-transform: rotate(45deg);
			-moz-transform: rotate(45deg);
			-o-transform: rotate(45deg);
			transform: rotate(45deg);
		}
	}

	#botao-toggle-menu {
		position: absolute;
		width: 20px;
		height: 21px;
		top: 56px;
		left: 16px;
		z-index: 6;
	}

	#menu-lateral {
		position: relative;
		width: 120px;
		height: 100%;
		box-sizing: border-box;
		margin: 0 auto 0 0;
		padding-top: 88px;
		text-align: center;
		opacity: 0;
		display: none;

		@media only screen and (min-width: 768px) {
			display: block;
			width: 128px;
			margin: 0 auto;
			padding-top: 56px;
    		opacity: 1;
		}

		@media only screen and (min-width: 1200px) {
			width: 158px;
		}

		.item-menu {
			font-weight: 700;
			font-size: 15px;
			line-height: 100%;
			text-align: center;
			padding-top: 24px;
			padding-bottom: 24px;
			cursor: pointer;

			@media only screen and (min-width: 768px) {
				font-size: 16px;
				padding-top: 36px;
				padding-bottom: 36px;
			}

			@media only screen and (min-width: 1200px) {
				font-size: 20px;
				padding-top: 40px;
				padding-bottom: 40px;
			}

			&:first-child {
				padding-top: 0;
			}

			&:hover {
				// background-color: darkgrey;
			}

			&.ativo {
				color: $verde-1;
			}
		}

		.item-menu-separador {
			width: 48px;
			margin: 0 auto;
			height: 1px;
			background-color: $cinza-1;

			@media only screen and (min-width: 768px) {
				width: 72px;
			}

			@media only screen and (min-width: 1200px) {
				width: 88px;
			}
		}
	}

	.botao-cta {
		display: none;
		width: 106px;
		height: 26px;
		padding: 4px 6px 4px 8px;
		font-size: 18px;
		font-weight: 700;
		line-height: 100%;
		background: #FFFFFF;
		cursor: pointer;

		@media only screen and (min-width: 576px) {
			width: 143px;
			height: 39px;
			padding: 8px 10px 8px 16px;
			font-size: 23px;
		}

		@media only screen and (min-width: 1200px) {
			width: 163px;
			height: 43px;
			font-size: 27px;
		}
	}

	#coluna-conteudo {
		position: relative;
		height: 100%;
		padding: {
			top: 60px;
			left: 92px;
		}

		@media only screen and (min-width: 576px) {
			flex: 1;
		}

		@media only screen and (min-width: 768px) {
			padding-left: 106px;
		}

		@media only screen and (min-width: 1200px) {
			padding-left: 122px;
		}

		&[data-item-ativo="inicio"] {
			background: {
				image: url($pasta-imagens + "bg_conteudo.jpg");
				size: 546px;
				repeat: no-repeat;
				position: 96% -29px;
			}

			@media only screen and (min-width: 576px) {
				background: {
					size: 715px;
					position: right -85px;
				}
			}
	
			@media only screen and (min-width: 768px) {
				background: {
					size: 910px;
					position: right -200px;
				}
			}
	
			@media only screen and (min-width: 992px) {
				background: {
					size: 100%;
					position: right center;
				}
			}
		}

		&[data-item-ativo="boas-vindas"] {
			padding-top: 48px;

			background: {
				image: url($pasta-imagens + "bg_conteudo.jpg");
				size: 600px;
				repeat: no-repeat;
				position: 50% 340px;
			}

			@media only screen and (min-width: 576px) {
				background: {
					size: 850px;
					position: 85% 340px;
				}
			}
	
			@media only screen and (min-width: 992px) {
				background: {
					size: 140%;
					position: 95% 355px;
				}
			}
		}

		&[data-item-ativo="rede-do-legislativo"] {
			padding-top: 48px;
		}

		.item-conteudo {
			position: relative;
			display: none;
			/* border: 1px solid blue; */

			&.ativo {
				display: block;
			}

			.titulo {
				padding: 0 2px 2px 2px;
				margin-bottom: 48px;
				font-size: 21px;
				line-height: 23px;
				font-weight: 400;
				background-color: $verde-1;

				@media only screen and (min-width: 576px) {
					font-size: 24px;
					line-height: 26px;
				}
				
				@media only screen and (min-width: 1200px) {
					font-size: 30px;
					line-height: 32px;
					margin-bottom: 64px;
				}
			}

			.descricao {
				padding: 0 2px;
				background-color: $verde-1;
				font-size: 15px;
				line-height: 18px;

				@media only screen and (min-width: 576px) {
					// font-size: 24px;
				}
				
				@media only screen and (min-width: 1200px) {
					// font-size: ;
				}
			}

			&[data-item="inicio"] {
				height: 582px;

				@media only screen and (min-width: 576px) {
					height: 740px;
				}

				@media only screen and (min-width: 1200px) {
					height: 800px;
				}

				.titulo {
					width: 250px;

					@media only screen and (min-width: 576px) {
						width: 400px;
					}

					@media only screen and (min-width: 768px) {
						width: 500px;
					}

					span {
						font-size: 36px;
						line-height: 38px;
						font-weight: 700;

						@media only screen and (min-width: 576px) {
							font-size: 51px;
							line-height: 53px;
						}
						
						@media only screen and (min-width: 1200px) {
							font-size: 63px;
							line-height: 65px;
						}
					}
				}

				.descricao {
					width: 221px;
					margin-bottom: 32px;
					
					@media only screen and (min-width: 576px) {
						width: 340px;
						font-size: 20px;
						line-height: 22px;
						margin-bottom: 56px;
					}

					@media only screen and (min-width: 1200px) {
						width: 526px;
						font-size: 24px;
						line-height: 26px;
						margin-bottom: 68px;
					}

					span {
						&:nth-of-type(1) {
							font-size: 21px;
							line-height: 25px;
							font-weight: 700;
							background: $verde-2;
							padding: 1px 4px;
							@include texto-padding-linhas;

							@media only screen and (min-width: 576px) {
								font-size: 24px;
								line-height: 28px;
							}

							@media only screen and (min-width: 1200px) {
								font-size: 27px;
								line-height: 31px;
							}
						}

						&:nth-of-type(2) {
							display: block;
							padding-left: 4px;
							margin-bottom: 14px;
							font-weight: 700;

							@media only screen and (min-width: 576px) {
								margin-top: 14px;
								margin-bottom: 20px;
							}
						}

						&:nth-of-type(n + 3) {
							display: block;
							padding: 0;
							margin: 8px 0 6px 6px;

							@media only screen and (min-width: 576px) {
								margin-bottom: 16px;
							}

							@media only screen and (min-width: 576px) {
								margin-bottom: 12px;
							}
							
							&::before {
								content: "»";
								padding-right: 4px;
								font-size: 12px;
								font-weight: 700;
								vertical-align: text-top;

								@media only screen and (min-width: 576px) {
									font-size: 18px;
								}
							}
						}
					}

					//@include lista-seta-1;
				}

				.botao-cta {
					margin-left: 8px;
				}
			}

			&[data-item="boas-vindas"] {
				height: 574px;

				@media only screen and (min-width: 576px) {
					height: 660px;
				}

				@media only screen and (min-width: 1200px) {
					height: 890px;
				}

				.titulo {
					// width: 244px;
					font-weight: 700;
					font-size: 42px;
					line-height: 100%;
					letter-spacing: -0.015em;
					color: $verde-2;
					margin-bottom: 24px;

					@media only screen and (min-width: 576px) {
						font-size: 70px;
						letter-spacing: -0.02em;
						margin-bottom: 34px;
					}

					@media only screen and (min-width: 1200px) {
						font-size: 80px;
						letter-spacing: normal;
					}
				}

				.descricao {
					width: 240px;
					margin-bottom: 32px;
					
					@media only screen and (min-width: 576px) {
						width: 392px;
						font-size: 16px;
						line-height: 18px;
						margin-bottom: 44px;

						p {
							margin-bottom: 1.6rem;
						}
					}

					@media only screen and (min-width: 1200px) {
						width: 580px;
						font-size: 20px;
						line-height: 22px;
					}
				}

				.botao-cta {
					margin: {
						top: 32px;
						left: calc((242px - 106px) / 2);
					}

					@media only screen and (min-width: 576px) {
						margin: {
							top: 40px;
							left: calc((396px - 143px) / 2);
						}
					}

					@media only screen and (min-width: 1200px) {
						margin: {
							top: 56px;
							left: calc((685px - 163px) / 2);
						}
					}
				}
			}

			&[data-item="acesse-o-evento"] {}

			&[data-item="programacao"] {
				.botao-cta {
					display: block;
					width: fit-content;
				}
			}

			&[data-item="rede-do-legislativo"] {
				height: 998px;

				@media only screen and (min-width: 576px) {
					height: 897px;
				}

				@media only screen and (min-width: 1200px) {
					height: 800px;
				}

				.titulo {
					width: 240px;
					font-weight: 700;
					font-size: 42px;
					line-height: 100%;
					letter-spacing: -0.015em;
					color: $verde-2;
					margin-bottom: 24px;

					@media only screen and (min-width: 576px) {
						width: 420px;
						font-size: 70px;
						letter-spacing: -0.02em;
						margin-bottom: 34px;
					}

					@media only screen and (min-width: 1200px) {
						font-size: 80px;
						letter-spacing: normal;
					}
				}

				.descricao {
					width: 240px;
					line-height: 112%;
					margin-bottom: 48px;
					
					@media only screen and (min-width: 576px) {
						width: 396px;
						font-size: 16px;
						margin-bottom: 56px;

						p {
							margin-bottom: 1.6rem;
						}
					}

					@media only screen and (min-width: 1200px) {
						width: 635px;
						font-size: 20px;
					}
				}

				.caixas {
					display: flex;
					flex-direction: column;
					align-items: flex-start;
					padding: 0px;
					gap: 24px;

					@media only screen and (min-width: 576px) {
						width: 400px;
						flex-direction: row;
						flex-wrap: wrap;
						gap: 32px;
					}

					@media only screen and (min-width: 1200px) {
						width: auto;
						gap: 42px;
					}

					.caixa {
						$bg-svg-p: 156px 103px;
						$bg-svg-m: 182px 120px;
						$bg-svg-g: 201px 132px;

						width: 156px;
						height: 103px;
						padding: 42px 20px 0 20px;
						text-align: center;
						font-size: 15px;
						font-weight: 700;
						line-height: 112%;
						color: #FFFFFF;
						letter-spacing: 0.05em;
						cursor: pointer;
						
						@media only screen and (min-width: 576px) {
							width: 182px;
							height: 120px;
							font-size: 18px;
							padding-top: 50px;
						}
	
						@media only screen and (min-width: 1200px) {
							width: 201px;
							height: 132px;
							font-size: 20px;
						}

						&:nth-of-type(1) {
							@include caixa-svg-bg(1);
						}

						&:nth-of-type(2) {
							@include caixa-svg-bg(2);
						}

						&:nth-of-type(3) {
							@include caixa-svg-bg(3);
						}

						&:nth-of-type(1),
						&:nth-of-type(2),
						&:nth-of-type(3) {
							background-size: $bg-svg-p;
							background-repeat: no-repeat;

							@media only screen and (min-width: 576px) {
								background-size: $bg-svg-m;
							}

							@media only screen and (min-width: 1200px) {
								background-size: $bg-svg-g;
							}
						}
					}
				}

			}

			&[data-item="certificado"] {}

			&[data-item="gravacoes"] {}

		}

		.logos {
			position: relative;
			width: 100%;
			height: 444px;
			margin-left: -50px;
			box-sizing: content-box;
			display: none;

			padding: {
				top: 40px;
				left: 50px;
			}

			background: #ffffff;

			@media only screen and (min-width: 576px) {
				height: auto;
				padding: {
					top: 16px;
					bottom: 16px;
				}
			}

			@media only screen and (min-width: 768px) {
				margin-left: -106px;
				padding-left: 106px;
			}
			
			@media only screen and (min-width: 1200px) {
				margin-left: -122px;
				padding-left: 122px;
				height: 91px;
				padding-bottom: 0;
			}

			&.ativo {
				display: block;
			}

			.container-logos {
				@media only screen and (min-width: 576px) {
					display: flex;
					width: 290px;
					flex-flow: row wrap;
				}

				@media only screen and (min-width: 1200px) {
					width: 680px;
					justify-content: space-between;
				}

				.realizacao,
				.apoio {
					margin-top: 40px;

					@media only screen and (min-width: 576px) {
						margin-top: 0;
						text-align: center;
					}

					h2 {
						font-size: 12px;
						margin-bottom: 16px;
					}
				}

				.realizacao {
					@media only screen and (min-width: 576px) {
						width: 123px;
					}
				}

				.apoio {
					@media only screen and (min-width: 576px) {
						width: 235px;
					}

					@media only screen and (min-width: 1200px) {
						width: 272px;
					}
						
				}

				.educacao-legislativa-30-anos {
					@include img-logo($pasta-logos + "educacao_legislativa_30_anos.jpg", 156px, 87px);

					@media only screen and (min-width: 576px) {
						width: 118px;
						height: 67px;
						background-size: 118px;
						margin: {
							top: 8px;
							right: 48px;
							bottom: 28px;
						}
					}

					@media only screen and (min-width: 1200px) {
						width: 128px;
						height: 72px;
						background-size: 128px;
						margin: {
							right: 0;
							bottom: 0;
						}
					}
				}

				.camara-dos-deputados {
					@include img-logo($pasta-logos + "camara_dos_deputados.jpg", 157px, 42px);

					@media only screen and (min-width: 576px) {
						width: 123px;
						background-size: 123px;
					}

					@media only screen and (min-width: 1200px) {
						width: 123px;
						background-size: 123px;
					}
				}

				.abel {
					@include img-logo($pasta-logos + "abel.jpg", 156px, 69px);

					margin-bottom: 24px;

					@media only screen and (min-width: 576px) {
						display: inline-block;
						width: 90px;
						height: 45px;
						background-size: 90px;
						margin-bottom: 0;
						margin-right: 20px;
					}

					@media only screen and (min-width: 1200px) {
						width: 98px;
						height: 50px;
						background-size: 98px;
						margin-right: 50px;
					}
				}

				.senado-federal {
					@include img-logo($pasta-logos + "senado_federal.jpg", 156px, 45px);

					@media only screen and (min-width: 576px) {
						display: inline-block;
						width: 119px;
						height: 43px;
						background-size: 119px;
					}
				}
			}
		}
	}
}